[2020-01-14 01:55] Jesse-Chang opened #5 "worker failed to initialize when NewDeployment"
Hi,

I am following gg guide to setup ggc to device(qualcomm s820/yocto).
check_ggc_dependencies passed **except** optional package **python3.7/java8**.
I've disable stream manager since not support jdk8.
Also, select python2.7 when upload lambda hellow_world example.

When starting deployment, it returns **Deployment xxx of type NewDeployment for group xxx failed error: worker with xxx failed to

[2020-01-14 12:51] rpcme commented on #5
Could you let me know the BSP you are using?  Are you building in meta-aws or is this error from running on a baked image without meta-aws?

In the meantime, I will look at the runtime.log for hints.

[2020-01-15 01:27] Jesse-Chang commented on #5
Hi, rpcme

BSP version: yocto2.3 for apq8096
Since aws-meta got build error, I am using gg v1.10 from aws website.

thanks.
runtime log:  [runtime.log](https://github.com/aws/meta-aws/files/4062589/runtime.log)

[2020-01-15 02:15] Jesse-Chang commented on #5
**update**
I just build gg v1.9.2 from meta-aws success.
It seems same error with gg v1.10.
logs:
[GGConnManager.log](https://github.com/aws/meta-aws/files/4062724/GGConnManager.log)
[runtime.log](https://github.com/aws/meta-aws/files/4062725/runtime.log)

[2020-01-15 19:00] rpcme commented on #5
Thank you very much.  Can you also let me know the hardware kit you are using?  I will try to acquire it in an expedited fashion.  If you are using custom hardware just let me know,

Is this the snapdragon 820a?

Also, can you please give me `lsblk` output or something similar, as well as fstab?  I have a guess that it might be a filesystem related issue.

[2020-01-15 21:43] rpcme commented on #5
I just want to double confirm @Jesse-Chang that you are using meta-qcom and the machine definition is here.  http://git.yoctoproject.org/cgit/cgit.cgi/meta-qcom/tree/conf/machine/dragonboard-820c.conf?h=warrior (or that module matches the module you're using) - if so, I will 1/ ensure you can build with meta-aws with meta-qcom and 2/ figure out what is going on with Greengrass not running properly

[2020-01-16 01:46] Jesse-Chang commented on #5
1. Yes, it's custom board with 820a, but i think it's close to Qualcomm reference design.
2. lsblk result: [lsblk.txt](https://github.com/aws/meta-aws/files/4068919/lsblk.txt)
3. machine definition: meta-qti-bsp/conf/machine/8x96auto.conf

Thanks.
jc.

[2020-01-17 11:33] rpcme commented on #5
Thank you for the information.

ggc_user does not need permission.  It is used to operate Greengrass in a bounded security context.  Another option you can try for now is running Greengrass in "containerless" mode, which means the lambdas run as pure linux processes and do not run using cgroups and namespaces.  See https://docs.aws.amazon.com/greengrass/latest/developerguide/lambda-group-config.ht

[2020-01-17 20:33] rpcme commented on #5
Another thing @Jesse-Chang if you desire please connect to me separately at https://www.linkedin.com/in/richardelberger/ so we can speak more privately on your project.

[2020-01-18 05:07] Jesse-Chang commented on #5
Hi, since device not support docker, greengrass already run as containerless.
Will try run lambda function as root on monday and update result ASAP.
Thanks.

[2020-01-22 14:03] rpcme commented on #5
Offline, it was confirmed that no-container mode is working.  Once hardware received, will look for root cause of why cgroups are not configured properly in order for Greengrass lambdas to run.

[2020-02-07 12:03] rpcme commented on #5
CONFIG_ANDROID_PARANOID_NETWORK=n needs to be set in defconfig for qualcomm builds in order for greengrass to work in context of Qualcomm bsp.  A pull request will be issued soon.

[2020-02-07 12:11] rpcme opened #10 "Yocto recipe for Corretto 8"
The Corretto project is an LTS java open source project facilitated by AWS.

This recipe enables users to build Corretto 8 into their distribution.

Repository: https://github.com/corretto/corretto-8

[2020-02-07 12:12] rpcme opened #11 "Yocto recipe for Corretto 11"
The Corretto project is an LTS java open source project facilitated by AWS.

This recipe enables users to build Corretto 11 into their distribution.

https://github.com/corretto/corretto-11

[2020-02-07 12:15] rpcme opened #12 "Implement continuous integration build and deploy process"
The continuous integration build and deploy process enables testing across all engaged BSPs and the following Yocto releases: thud sumo warrior zeus.

[2020-02-07 12:19] rpcme opened #13 "Add Greengrass HSI support for IoT Greengrass recipe"
IoT Greengrass implements a feature named Hardware Security Integration, which enables Greengrass integration with qualified TPMs.  The configuration needs to be associated with configurable elements for a given implementation and the config.json needs to be created and staged for the desired given implementation.

[2020-02-07 12:21] rpcme opened #14 "Add Greengrass demo support"
Currently, the recipe has a fixed "production" state. When not using Greengrass HSI, it is convenient for people performing the build to do a demo to "prebake" credentials.  This must be an option that is explicitly defined in Yocto local.conf so the default is always production mode.

[2020-02-07 12:23] rpcme opened #15 "Add IoT Device Tester CI for Greengrass"
For builds being run through the CI on images containing Greengrass, automatically run IoT Device Tester for IoT Greengrass.  This makes it so any tested target config in the CI matrix runs IDT and can automatically identify any qualification issues with the target.

[2020-02-07 13:21] rpcme opened #16 "Add support for IoT Greengrass stream manager"
At re:Invent 2019, AWS released the stream manager feature for IoT Greengrass.

https://docs.aws.amazon.com/greengrass/latest/developerguide/stream-manager.html

The stream manager feature requires Java 8.  The documentation says it requires Java 8, which is a new baseline optional requirement for running core IoT Greengrass features.

An option needs to be written to enable adding a new dependenc

[2020-02-07 13:29] rpcme opened #17 "Change IoT Greengrass recipe to give user option to change version targets"
Right now, the Greengrass recipe enables stage and install of latest version only.  This needs to change to create list of .inc files for each Greengrass version and corresponsing sha256 signature.

[2020-02-07 13:56] rpcme opened #18 "Yocto recipe for Firecracker"
Add recipe to build and install Firecracker.

Firecracker is an open source project supported by AWS.  From their landing page:

Firecracker is an open source virtualization technology that is purpose-built for creating and managing secure, multi-tenant container and function-based services that provide serverless operational models. Firecracker runs workloads in lightweight virtual machines, call

[2020-02-07 14:05] rpcme opened #19 "AWS SDK for Java V1"
Implement recipe for AWS SDK for Java V1 to enable customers to run off-cloud applications on Embedded Linux using Java.

V1 repository:
https://github.com/aws/aws-sdk-java

[2020-02-07 14:11] rpcme opened #20 "AWS SDK for Java V2"
For customers needing the AWS SDK for Java V2 on Embedded Linux.

https://github.com/aws/aws-sdk-java-v2

[2020-02-07 14:15] rpcme opened #21 "AWS SDK for JavaScript V1"
Implement recipe for AWS SDK for JavaScript V1.

https://github.com/aws/aws-sdk-js

[2020-02-07 14:16] rpcme opened #22 "AWS SDK for JavaScript V3"
Add recipe for AWS SDK for JavaScript V3.

https://github.com/aws/aws-sdk-js-v3

[2020-02-07 14:22] rpcme opened #23 "AWS SDK for C++"
Add recipe for AWS SDK for C++

https://github.com/aws/aws-sdk-cpp

[2020-02-07 14:30] rpcme opened #24 "AWS SDK for Go"
Implement recipe for the AWS SDK for Go.

https://github.com/aws/aws-sdk-go

[2020-02-07 14:38] rpcme opened #25 "AWS SDK for PHP"
Create recipe for installing the AWS SDK For PHP.

https://github.com/aws/aws-sdk-php

[2020-02-07 14:40] rpcme opened #26 "AWS SDK for Python (boto3)"
Build and install the AWS SDK for Python (boto3)

https://github.com/boto/boto3

[2020-02-07 14:41] rpcme opened #27 "AWS SDK for Ruby V1"
Build and install the AWS SDK for Ruby V1

https://github.com/aws/aws-sdk-ruby

[2020-02-07 14:45] rpcme opened #28 "AWS SDK for Go V2"
Implement recipe for building the AWS SDK for Go V2.

https://github.com/aws/aws-sdk-go-v2

[2020-02-07 14:49] rpcme opened #29 "AWS SDK for Ruby V2"
Implement recipe for AWS SDK for Ruby V2

https://github.com/aws/aws-sdk-ruby

[2020-02-07 15:26] rpcme opened #30 "AWS SDK for Ruby V3"
Implement recipe for the AWS SDK for Ruby V3.

https://github.com/aws/aws-sdk-ruby

[2020-02-07 15:29] rpcme opened #31 "AWS IoT Device SDK for C++ V1"
Implement recipe for the AWS Device SDK for C++ V1

https://github.com/aws/aws-iot-device-sdk-cpp

[2020-02-07 15:31] rpcme opened #32 "AWS IoT Device SDK for C++ V2"
Implement recipe for the AWS Device SDK for C++ V2

https://github.com/aws/aws-iot-device-sdk-cpp-v2

NOTE there are several AWS dependencies for this - submodules and s2n.

[2020-02-07 15:34] rpcme opened #33 "AWS IoT Device SDK for Java V1"
Implement recipe for AWS IoT Device SDK For Java V1

https://github.com/aws/aws-iot-device-sdk-java

[2020-02-07 15:35] rpcme opened #34 "AWS IoT Device SDK for Java V2"
Implement recipe for AWS IoT Device SDK for Java V2

https://github.com/aws/aws-iot-device-sdk-java-v2

[2020-02-07 15:44] rpcme opened #35 "AWS IoT Device SDK for Javascript V1"
Implement recipe for AWS IoT Device SDK for JS V1

https://github.com/aws/aws-iot-device-sdk-js

[2020-02-07 15:46] rpcme opened #36 "AWS IoT Device SDK for Javascript V2"
NOTE at the time of writing this is now in developer preview

Implement recipe for AWS IoT Device SDK for Javascript V2

https://github.com/aws/aws-iot-device-sdk-js-v2

[2020-02-07 15:47] rpcme opened #37 "AWS IoT Device SDK for Java V1"
Create recipe for AWS IoT Device SDK for Java V1

https://github.com/aws/aws-iot-device-sdk-java

[2020-02-07 15:49] rpcme opened #38 "AWS IoT Device SDK for Java V2"
Implement recipe for AWS IoT Device SDK for Java V2

https://github.com/aws/aws-iot-device-sdk-java-v2

[2020-02-07 15:49] #37 closed

[2020-02-07 15:50] #38 closed

[2020-02-07 15:51] rpcme opened #39 "AWS IoT Device SDK for Python V1"
Implement recipe for AWS IoT Device SDK for Python V1.

https://github.com/aws/aws-iot-device-sdk-python

[2020-02-07 15:53] rpcme opened #40 "AWS IoT Device SDK for Python V2"
Implement recipe for AWS IoT Device SDK for Python V2

https://github.com/aws/aws-iot-device-sdk-python-v2

[2020-02-12 22:11] kennu opened #41 "Greengrass dependency error for linux-ti-staging_%.bbappend"
Hello. I get this error when trying to bitbake my project. I use the meta-aws layer and try to install the greengrass package in my IMAGE_INSTALL_append.

    ERROR: No recipes available for:
    meta-aws/recipes-greengrass/greengrass-core/linux-ti-staging_%.bbappend

I have included these layers in my project BBLAYERS, as instructed in the README, along with several other layers that I need.

[2020-02-12 22:53] rpcme commented on #41
Hello @kennu - could you let me know if you're building in the context of TI Processor SDK?  This should be picked up only when running in that context.

If you're running in that context, then yes it should be a documented dependency (and should be documented anyway), but it should also already exist in your source checkout.

For the non TI case, this bbappend should not be used. I might then hav

[2020-02-12 23:27] kennu commented on #41
I don't think my project has anything related to TI in it. The target machine is SolidRun CuBox (i.MX6). The other layers being used look like this:

    ${BSPDIR}/sources/poky/meta \
    ${BSPDIR}/sources/poky/meta-poky \
    ${BSPDIR}/sources/meta-freescale \
    ${BSPDIR}/sources/meta-freescale-3rdparty \
    ${BSPDIR}/sources/meta-freescale-distro \
    ${BSPDIR}/sources/meta-openembedded/meta

[2020-02-12 23:39] rpcme commented on #41
Ok, I understand.  I will reproduce with the layers you have in the above list and provide the necessary fix. Will not be able to reproduce it until my tomorrow morning - GMT+5. You should be able to continue by removing linux-ti-staging_%.bbappend.  The linux-yocto_%.bbappend file would be applicable in your case.

Thank you very much for reporting - I know others have built for Qualcomm and QEMU

[2020-02-13 02:51] kennu commented on #41
Thanks, my build actually worked by adding the *meta-ti* layer temporarily (I guess it doesn't affect anything when no packages from it are used). I'll remove it later on.

[2020-02-13 11:09] rpcme commented on #41
Thank you for the clarification.  The patch should only be used when the distro is arago.  I am glad you were able to continue.

I will take some time to identify a strong approach to choosing the correct append file.  It will likely revolve around DISTRO being arago.

Until I verify this approach, I won't yet taint the documentation and will leave this issue open.

[2020-02-18 04:17] kennu commented on #41
Strange thing happened: As I'm building my project today, the meta-ti layer now complains that a zeus branch doesn't exist and my workaround stopped working.  Not sure how it worked in the first place, unless someone actually deleted that branch from meta-ti during the weekend.

For now I changed my workaround to this in my Dockerfile:

RUN rm -f ${YOCTO_INSTALL_PATH}/fsl-community-bsp/sources/met

[2020-02-19 01:49] rpcme commented on #41
Hello @kennu, I believe I have resolved this problem.  Please use the zeus branch.  I will be proliferating the change across branches once confirmed.  I checked this with a plain poky build.

[2020-02-19 01:59] rpcme opened #44 "x86-64: GG daemon dyn linked to /lib64/ld-linux-x86-64.so.2"
On x86-64, GG daemon is dyn linked to /lib64/ld-linux-x86-64.so.2:

$ ldd bin/daemon
	linux-vdso.so.1 (0x00007fff96938000)
	libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007f09f8d5c000)
	libutil.so.1 => /lib/x86_64-linux-gnu/libutil.so.1 (0x00007f09f8b59000)
	libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007f09f893a000)
	libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007f0

[2020-02-19 13:01] rpcme commented on #5
@Jesse-Chang  - fixed by commit #45

[2020-02-19 13:01] rpcme commented on #5
I have put this on zeus and master branches, and will be put back farther later in the week.

[2020-02-19 13:01] #5 closed

[2020-02-20 11:27] kennu commented on #41
My build is working now with the zeus branch without any workarounds, thanks @rpcme.

[2020-02-20 11:27] #41 closed

[2020-03-06 12:34] wremie commented on #40
@rpcme, would love to see this recipe become available, is there a timeline for this? Are contributions appreciated?

[2020-03-06 18:31] rpcme commented on #40
Hello @wremie -

Most likely it will be added the first part of Q2.  We are really focused on the Device SDK C++ v2, Device SDK Embedded C, and the continuous integration automation for the rest of Q1.  Device SDKs are looking to be the priority right now, with AWS SDKs after that, and then KVS libraries as well as device defender come after that.

Yes we take contributions and love them!  we are

[2020-03-13 15:15] wremie commented on #40
Hi @rpcme ,

Although being broken, I've seen the aws-iot-device-sdk-cpp-v2_1.5.2.bb recipe in zeus branch. If I understand your message correctly. This recipe is under active development?

building `aws-iot-device-sdk-cpp-v2_1.5.2.bb` is not a problem. However the I'm not sure how you would like the runtime dependency to be implemented as the library depends on `awscrt`. This package can be eithe

[2020-03-18 13:29] rpcme commented on #40
Yes, the cpp sdk is under active development.  My workstation had been "under the weather" for a few days so I have now been able to appropriately respond.

I made a note in your PR about the common runtime. I think semantically it works right now, so let's work together on that approach moving forward.

A new repo will be created called 'meta-aws-auto' which isn't a metadata layer but just a repo

[2020-03-18 13:30] rpcme commented on #40
I will keep this issue open until there is a chance to get together documentation for the recipe.

[2020-03-25 16:13] awsblake opened #50 "Deployment container test failed - mkdir tmp permission denied"
Chipset: Qualcomm QCS603
BSP: Yotco Linux with Qualcomm BSP QCS605
Greengrass version:  greengrass-linux-armv7l-1.10.0.tar.gz
Fail case: deploymentcontainer
Failure log: mkdir /testGreengrass/greengrass/ggc/packages/1.10.0/rootfs/merged/var/volatile/tmp: permission denied

workaround: create an actual /tmp directory
unlink /tmp
mkdir /tmp
chmod 777 /tmp

[2020-03-26 14:37] rpcme commented on #50
@awsblake thank you for filing this issue.  I am currently evaluating for a proper fix - we want to ensure that `tmp` remains a `tmpfs` to promote flash longevity.

[2020-03-31 23:06] rpcme commented on #44
Thank you for your contribution!

[2020-03-31 23:06] #44 closed

[2020-04-09 10:17] rpcme commented on #50
A fix will be made to the Greengrass version-specific recipe.  It was verified that the /tmp directory mount isn't being used so there will be no flash impact.

[2020-04-10 03:18] AltekCllin commented on #50
Other features in our project use the tmp a symbolic link, the workaround(unlink tmp) solution is high risk.
So please kindly provide other solutions.
Thanks.

[2020-04-10 09:53] rpcme commented on #50
CLLin,

Excellent feedback.  We do not want to put your project in a high risk situation.  Thank you for your valuable feedback!

On Apr 9, 2020, at 23:18, AltekCllin <notifications@github.com> wrote:

﻿

Other features in our project use the tmp a symbolic link, the workaround(unlink tmp) solution is high risk.
So please kindly provide other solutions.
Thanks.

—
You are receiving this because yo

[2020-04-10 14:45] jbutler commented on #50
Greengrass team member here. We have root caused this issue and are working on a proper fix. In the meantime, another workaround is to ensure the directory the tmp symlink points to exists on the root filesystem itself, rather than just within the tmpfs.

For example:

[code]

Thanks,
-joe

[2020-04-10 18:11] rpcme commented on #50
@AltekCllin can you let us know which possible workaround works for you? We will add it to the recipe.

[2020-04-13 03:51] AltekCllin commented on #50
If greengrass team has co-worked with QTI Team to get any workaround.I can accept any workaround. Or I hope to keep the original tmp and not apply workaround on tmp .

Because I do not know why normal deploy is OK but container deploy fails and greengrass use tmp to do what,I do not know which possible workaround is low risk.

Could greengrass team could co-work with QTI Team to obtain proper fix

[2020-04-13 13:33] rpcme commented on #50
@AltekCllin Thank you for your response. Your assertions will be embraced when implementing the solution to the recipe.

[2020-04-18 08:13] mkozjak commented on #40
@rpcme, should this work under Yocto Warrior too?

[2020-04-20 09:26] rpcme commented on #40
@mkozjak it should since v2 supports older Pythons but I have not tried it.  I am on vacation this week so I cannot cross check but I would like to hear feedback on it if you try.

[2020-04-20 09:27] mkozjak commented on #40
@rpcme, tried and it works! Do some checks before including it if possible, though!

[2020-04-20 09:29] rpcme commented on #50
@AltekCllin I have confirmed with QTI that the approach by @jbutler is agreeable. A fix will be applied for specific Greengrass versions.

[2020-04-20 09:37] AltekCllin commented on #50
If the new Greengrass version recipe is released,please inform me to download.
Thanks you.

[2020-04-26 12:19] mkozjak commented on #40
@rpcme, should we add `warrior` to `LAYERSERIES_COMPAT_meta-aws` to move forward with this?

[2020-04-27 14:43] codrin989 opened #56 "dunfell branch"
Hi @rpcme ,

Now with the yocto dunfell release, do you plan to create a new dunfell branch? I know it's an extra branch to maintain, but the master branch will be used with newer yocto packages and meta-aws might need new patches to support them, while dunfell will get only fixes.
Thanks!

[2020-04-28 10:02] rpcme commented on #56
Hello @codrin989 Sorry for the delay, I have been on leave.

Yes will do, lovely that the release happened when I was on leave :) thanks for the heads up. When I get to my desk this morning, I will fork.

[2020-04-28 10:19] rpcme commented on #40
Hello @mkozjak - sorry for the delay, same as the other issues response, I had been on leave.

I will create a warrior branch given there are yocto project incompatibilities with zeus/dunfell.  It will happen later today.

[2020-04-28 10:54] codrin989 commented on #56
There is no delay, I just opened the 'iissue' last day. Thanks! :)

[2020-04-28 14:15] rpcme commented on #56
This branch has now been created.

[2020-04-28 14:15] #56 closed

[2020-04-28 14:40] codrin989 commented on #56
Thanks @rpcme !

[2020-05-03 04:26] bbros-dev commented on #18
The [`meta-virtualization`](http://git.yoctoproject.org/cgit/cgit.cgi/meta-virtualization/) layer may be of interest to others coming along this path.

HTH

[2020-05-04 07:52] mkozjak opened #59 "warrior: No recipes available for linux-ti-staging_%.bbappend"
@rpcme: I'm tracking warrior and I just got this on first pass with `bitbake core-image-base`:

[code]

If I remove the file it passed and then failed on:

[code]

The `aws-iot-device-sdk-python-v2` recipe is mandatory for me and yet it's not in `warrior`.

My `IMAGE_INSTALL_append` includes these:
[code]

[2020-05-06 11:29] kriskep opened #60 "greengrassSystemComponents needs ELF patch for x86_64"
Binary file `ggc/core/lambda/GreengrassSystemComponents/greengrassSystemComponents`  needs patchelf to --set-interpreter to /lib/... instead of /lib64/... for x86_64 arch.

[2020-05-06 11:52] kriskep opened #61 "the bbappend file in the base directory is never picked up"
ref. to this line:
https://github.com/aws/meta-aws/blob/cae4329eaaaf68704c8aa3ddfee8a3ce489118ba/recipes-greengrass/greengrass-core/greengrass.inc#L29

I believe this does not work to add bbappend files conditionally. `bitbake-layers show-appends` does not show it.

[2020-05-06 15:32] rpcme commented on #59
@mkozjak I have fixed the staging file issue.

The cloudwatch recipe depends on 'python3-boto3' and I am not sure where you intended to get that?

[2020-05-06 15:40] mkozjak commented on #59
@rpcme thanks! I use this one for `python3-boto3`: https://github.com/bachp/meta-homeassistant/blob/master/recipes-devtools/python/python3-boto3_1.12.29.bb.

[2020-05-06 16:05] rpcme commented on #59
Interesting thanks.  We intend to have this sdk in this meta layer since it's AWS delivered software, so we should probably weight it accordingly.  Ideally, we would want to simplify the number of layers required by customers.  Do you see an issue with that?

[2020-05-06 16:09] mkozjak commented on #59
Yup, it'd be nice to have those here. `python3-boto3`, `python3-botocore`, `python3-jmespath`, `python3-s3transfer` and `python3-timeloop` and the needed ones for the cloudwatch recipe, for example.

[2020-05-06 18:47] rpcme commented on #60
Hi @kriskep, please check 1.10.1 that I just committed. there is an issue with the previous fix where it was specific to qemu.    Right now I have it only on master but can pull it down to zeus or whatever, depending on the immediate need.

[2020-05-11 21:11] kriskep commented on #60
Hi @rpcme, there is second binary that needs patchelf. Please check my pull request #65

[2020-05-11 22:05] #39 closed

[2020-05-11 22:06] rpcme commented on #60
Thank you! I think this should resolve extending issues on this topic. If there's more issues, please share.

[2020-05-11 22:06] #60 closed

[2020-05-13 14:42] timmattison opened #67 "Amazon EC2 Simple Systems Manager (SSM) agent"
Implement recipe for Amazon EC2 Simple Systems Manager (SSM) agent

https://github.com/aws/amazon-ssm-agent

[2020-05-13 15:22] timmattison commented on #67
The SSM agent can be useful to remote into a machine to do debugging in the field. The start session command creates a reverse shell managed by AWS. It can also tunnel arbitrary ports if VNC or RDP or another protocol is required.

[2020-05-13 16:26] kriskep commented on #60
Hi @rpcme, unfortunately, there is yet another binary that needs this patch:
`/greengrass/ggc/packages/1.10.1/lambda/arn.aws.lambda...function.GGIPDetector.1`

It only shows up when you start to deploy things.
**Maybe it is safer to create a symlink in /lib64. What do you think?** It would also save us from future changes in the binary package.

[2020-05-17 09:51] mkozjak commented on #59
@rpcme any updates on this one?

[2020-05-17 10:16] rpcme commented on #59
@mkozjak it's on my list for this week.  We had some refactoring to do for x86_64 that stole some cycles this week.  I do intend to pull any dependent recipes not resident in meta-python to this repo, and then over time upstream those not directly resulting from aws delivered software. I apologize if I didn't pick up on the urgency of this request.

[2020-05-27 21:32] rpcme commented on #32
Implementation pushed to master

[2020-05-27 21:32] #32 closed

[2020-07-01 20:44] guntshi opened #69 "Worker is ungracefully killed issue, lambda function not running properly after deployed"
Hi,

I am using instructions from
https://github.com/aws-samples/meta-aws-demos/blob/master/am572x_idk/aws_iot_greengrass/README.md

to build and setup a new variant of a target (AM437x EVM) with Yocto "zeus" based Greengrass. The greengrassd is starting correctly. Using the GG Getting Started Docs Module 2 and 3 and deploying a group with the HelloWorld Lambda function causes an issue, the var/lo

[2020-07-01 21:15] rpcme commented on #69
Hello Gunter, I have the part on hand.  Let me see if I can reproduce the issue. I can start building the image today but I won't be able to go through the tutorial until tomorrow.  Note that the AWS IoT Device Tester for IoT Greengrass was run against the image which tests similar Lambda deployment scenarios.

[2020-07-01 21:22] guntshi commented on #69
Thanks, Richard for testing this!
Please let us know if you need additional HW from TI, I can help there.

Also, let me check if I can get the IOT Device Tester (IDT) going on this target.

Regards,
--Gunter

[2020-07-07 20:49] guntshi commented on #69
Hi Richard, just wanted to check if you were able to re-produce the issue on your side?

Thanks,
--Gunter

[2020-07-08 14:11] rpcme commented on #69
Hello @guntshi - I walked through the tutorial twice - once last Thursday and again this morning just to make sure I didn't go too fast and miss something.  The tutorial succeeded.  Here is what I did:

1. Built image
2. Flashed image
3. Booted image.
4. From workstation, create a new Greengrass group.  NOTE.  Do not follow tutorial Module 1 and Module 2.  The software is already installed.
    1.

[2020-07-08 14:15] rpcme commented on #69
Okay to be more clear about (4). Please do not do the "Quick Start" https://docs.aws.amazon.com/greengrass/latest/developerguide/quick-start.html

Module 1 is covered off by the yocto build.
Module 2 is where you should start.  This is the instruction that I said was "missing" but it wasn't. Sorry for the confustion.

[2020-07-08 15:59] guntshi commented on #69
Hi Richard, thanks for the instructions and testing. Good to know that it works on your side. Are you running on an AM437x EVM or Starterkit?

Looking in detail at your instructions, this looks like exactly what I have done on my side as well.
After building the Yocto image with greengrass recipes included, I have also completely skipped Module 1, since the greengrassd is installed.
Started with M

[2020-07-08 16:20] rpcme commented on #69
I used the TMDSIDK574 kit for this test. But I don't think it has anything to do with the Yocto build.

It might be that the zip file is not formed correctly.  When doing this walk-through, I realized that the instruction for creating the Lambda Zip isn't entirely clear.  What I did was this:

[code]

It might pop if you don't build the lambda correctly, and then invoke a function entry point.

I

[2020-07-17 23:14] rpcme commented on #69
Hello @guntshi do you have any update on progress?  I would like to know if you figured it out or if you're still stuck.

[2020-07-17 23:15] rpcme commented on #61
This issue has been fixed.

[2020-07-17 23:15] #61 closed

[2020-07-20 15:58] guntshi commented on #69
Hi Richard, thanks again for testing this on your side. Carefully reviewing your steps, my steps were as far as I could tell exactly the same. I was still running into the issue on the AM437x EVM Starterkit though. So I decided to test on the AM57xx IDK HW with the am57xx-evm yocto build just as you did to see if there are any differences. Doing this today, hopefully will have more results shortly

[2020-07-29 17:12] rpcme commented on #69
Hello @guntshi I'm looking forward to your result.

[2020-07-31 16:22] guntshi commented on #69
Hi Richard, (due to the COVID restrictions) I had an issue getting access to the AM57xx kit, which slowed me down unfortunately, but as of today I have access to it now and verified it is booting correctly. Sorry it took longer ... Going now exactly through your steps to reproduce your result and will update you as soon as I can.

[2020-07-31 17:07] rpcme commented on #69
Sounds great @guntshi - looking forward to seeing positive resolution :)

[2020-08-03 23:26] guntshi commented on #69
Hi Richard,

unfortunately I am getting the same behavior with the AM57xx EVM setup, and Yocto build for that. Everything works going carefully through all the steps on the AWS docs, including deploying the Group with Lambda function (getting successfully deployed). But subscribing to the topic hello/world does not show any MQTT messages from the Core and the runtime.log looks the same, see here:

[2020-08-13 13:55] rpcme commented on #69
@guntshi Sorry for the late response, I was negatively impacted by the storms on the east coast US last week.

For the lambda function, is there any user lambda function log?  It is bizarre that hello world would fail.  Usually some kind of die on impact there would be interpreter related, which would mean somehow you missed getting Python installed?

And the resolv.conf file thing is a little str

[2020-08-25 04:15] guntshi commented on #69
@rpcme Sorry it took me longer to recreate everything, but this time I created a doc to show all the steps being taken, which I am attaching below.

For the lambda function on the target I don't see anything being printed.
The python 3.7 is installed
root@am437x-evm:/etc# python3 --version
Python 3.7.7

The nameserver seems to be working too, as I can e.g. ping google.com

Could you take a look at

[2020-08-25 21:39] guntshi commented on #69
Hi @rpcme
I realized, the attached doc format was corrupted, so I am re-attaching that document. Please let me know if there are any problems accessing it.

Thanks!
--Gunter

[greengrassInstallation.zip](https://github.com/aws/meta-aws/files/5126411/greengrassInstallation.zip)

[2020-08-26 09:41] BlessyNavara opened #71 "meta-aws for imx-yocto-bsp"
Hi.
Im building meta-aws layer onto imx-yocto-bsp image.

Toolchain :
   bitbake - 1.44
   Yocto distro - 5.4.24
added meta-aws layer
building for core-image-minimal target
machine  - imx8m

All dependent layers(openembedded-core, meta-oe, meta-yocto-bsp, meta-filesystems, meta-python) are added to bblayers.conf.
IMAGE_INSTALL_append = " aws-iot-device-sdk-cpp-v2 aws-crt-cpp" added to layers.conf

[2020-08-26 12:38] BlessyNavara commented on #31
Hi.
Im building meta-aws layer onto imx-yocto-bsp image.

Toolchain :
bitbake - 1.44
Yocto distro - 5.4.24
added meta-aws layer
building for core-image-minimal target
machine - imx8m

All dependent layers(openembedded-core, meta-oe, meta-yocto-bsp, meta-filesystems, meta-python) are added to bblayers.conf.
IMAGE_INSTALL_append = " aws-iot-device-sdk-cpp-v2 aws-crt-cpp" added to layers.conf

    Is

[2020-08-29 19:46] rpcme opened #72 "Kinesis Video Streams Producer SDK - C and C++"
https://github.com/awslabs/amazon-kinesis-video-streams-producer-sdk-cpp
https://github.com/awslabs/amazon-kinesis-video-streams-producer-c

[2020-08-29 19:48] rpcme opened #73 "Kinesis VIdeo Stream WebRTC SDK - C"
https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c

[2020-08-29 19:49] rpcme commented on #59
@mkozjak I am going to close this and create new issue for tracking ok?

[2020-08-29 19:51] rpcme opened #74 "Boto3 library"
See Issue #59  for backstory. We need to manage boto3 and aws specific libraries from meta-aws so we can keep up with version changes and dependencies. The repo where this is currently being taken is not actively maintained and presents risk.

[2020-08-29 19:52] #59 closed

[2020-09-01 19:34] rpcme commented on #71
Hello, I am on vacation so responses will be delayed, sorry.

I do not have any reason to believe there would be anything wrong with using this bsp.  We've built on many more platforms than Poky.

I will have to reproduce it myself but I won't be able to try until the weekend.

[2020-09-01 19:35] rpcme commented on #69
@guntshi sorry I am on vacation so responses will be delayed. I won't be back on my workstation until the weekend. I will be able to look at it at that time.

[2020-09-02 22:00] jwinarske opened #75 "AGL qemux86_64 dunfell"
I'm experiencing a user/group problem with Automotive Grade Linux (AGL) master branch (dunfell).

[code]

Adding values to file then results in later build break:
[code]

Adding group value to file then continues until this:
[code]

[2020-09-10 01:45] guntshi commented on #69
Hi @rpcme
a colleague of mine in parallel went through all the steps on his side in detail and was able to replicate the same problem, I had documented in the doc I had attached earlier. This was done on an independent setup, so it seems something fundamental is missing.

By the fact that we are building the GG core into the Yocto filesystem with meta-aws, we are wondering if something is missing

[2020-09-14 13:21] rpcme commented on #75
Hello @jwinarske I just got off vacation today - just wanted to let you know this is on my radar ok?

[2020-09-14 18:35] rpcme commented on #71
Hello @BlessyNavara - coincidentally I am working on another issue (that is not documented in this repo) for imx machines.

What I am finding is aws-crt-cpp has a build issue on 'zeus'.  You can see how CMAKE_PREFIX_PATH is not being resolved in the following include:

... -I/home/imx-yocto-bsp/build_dir/tmp/work/aarch64-poky-linux/aws-crt-cpp/0.8.3-r0/git/aws-common-runtime/aws-c-common/include *

[2020-09-14 19:02] rpcme commented on #75
Hello @jwinarske I am having trouble checking out the jellyfish release which is aligned with dunfell.  This is what I'm getting:

[code]

Do I need to use some secret sauce to get a hold of this release?  Please let me know, I would like to fix this problem.  I haven't yet had a chance to use jumping jellyfish so this is my first time encountering this problem.

I can also ask the question to the

[2020-09-15 04:44] BlessyNavara commented on #71
Hi @rpcme
I'm glad you are working on this.

But the errors in my log seem to originate from missing "immintrin.h" and "intrin.h" headers.
Specifically, the errors come from the AwsSIMD.cmake file.

Also, Im attaching the Errorlog for your reference.
[CMakeError.log](https://github.com/aws/meta-aws/files/5222511/CMakeError.log)

[2020-09-15 17:03] jwinarske commented on #75
Hi @rpcme,

This was using tip of tree:

    repo init -u https://gerrit.automotivelinux.org/gerrit/AGL/AGL-repo
    repo sync

[2020-09-16 13:31] rpcme commented on #75
Hello @jwinarske I have reproduced the problem and am working on it today.

[2020-09-16 20:59] rpcme commented on #50
@AltekCllin @jbutler  @awsblake  This should be fixed for 1.11, which is on /dunfell/ and /master/ branches.

[2020-09-16 20:59] #50 closed

[2020-09-17 03:44] guntshi commented on #69
Hi @rpcme
it is working now!
I was able to figure it out, there was a dependency problem with python3 and missing files in /usr/lib/python3.7 on the target. This manifested itself in the Lambda logs which e.g. showed missing base64.py, which should have been installed by default, but wasn't. Since I did not trust the python3 yocto RDEPENDS in your meta-aws greengrass recipe, I made the following c

[2020-09-17 15:40] rpcme commented on #75
@jwinarske

Unfortunately, the recipe won't be able to fix this for now. I repro that adding the user and group works.  This is the way AGL manages it. In my humble opinion, this is horrible because every distro (yes, this means your company's distro) will need to maintain their own passwd and group file and not do it dynamically like in normal Yocto builds.

I will attempt to get ggc_user and ggc

[2020-09-17 15:46] rpcme commented on #75
Note that Greengrass 1.11 is out so please pull that recipe down.  It supports the dunfell release.

I will be noting this issue in the root readme for AGL users.  Closing.

[2020-09-17 15:46] #75 closed

[2020-09-17 15:57] jwinarske commented on #75
thanks

[2020-09-17 16:51] rpcme commented on #71
@BlessyNavara thank you for your note. I am back on this issue today.  Going to try this in a clean environment.

[2020-09-17 18:37] rpcme commented on #71
@BlessyNavara How did you get to that point? I am on clean environment and received the same error I had before.

I committed the recipes to the zeus branch for convenience.  To use this, you will need to manually delete meta-aws/recipes-containers/docker/docker-ce_%.bbappend unless you cloned meta-virtualization and added it to bblayers.conf. However, the build issue needs to be resolved. I will

[2020-09-18 04:49] BlessyNavara commented on #71
@rpcme Earlier, I added the dependencies by following this https://layers.openembedded.org/layerindex/branch/master/layer/meta-aws/. Yes, you are right, I added the meta-virtualization to sources and set it in bblayers.conf.

[2020-09-18 12:07] PeterHuewe commented on #13
+1

Upstream Yocto already has the necessary TPM Software (tpm2-tss, tpm2-tools and tpm2-pkcs11)
http://git.yoctoproject.org/cgit/cgit.cgi/meta-security/tree/meta-tpm/recipes-tpm2

[2020-09-22 16:56] rpcme commented on #71
Hello @BlessyNavara , this is finally fixed. Sorry for the delay. I have committed the fix to branch 'zeus' and will cherry pick to master later.  Due to the version of the imx sdk you're using, you will want to use zeus.

effectively:

1/ clone meta-aws to ~/imx-yocto-bsp/sources/meta-aws
2/ add the directory to conf/bblayers.conf
3/ add the sdk target to local.conf (or whatever else mechanism yo

[2020-09-22 16:56] #71 closed

[2020-10-29 15:23] BlessyNavara commented on #71
@rpcme Thanks for the fix.

[2020-11-06 09:31] vijayrakesh13 commented on #73
Can you please share Amazon Kinesis Video Stream recipe for the Yocto Metadata Layer for baking into Embedded Linux distributions.

[2020-11-20 07:49] vijayrakesh13 opened #86 "Error:mtk-image-1.0-r0 do_rootfs: Could not invoke dnf."
Hi, I'm trying to install AWS IOT SDK CPP V2 recipe, but I'm facing below error.

ERROR: mtk-image-1.0-r0 do_rootfs: Could not invoke dnf. Command '/home/bl-docker/rity/bsp/tmp/work/i500_pumpkin-poky-linux/mtk-image/1.0-r0/recipe-sysroot-native/usr/bin/dnf -v --rpmverbosity=info -y -c /home/bl-docker/rity/bsp/tmp/work/i500_pumpkin-poky-linux/mtk-image/1.0-r0/rootfs/etc/dnf/dnf.conf --setopt=reposd

[2020-11-20 13:31] rpcme commented on #86
@vijayrakesh13 could you kindly let me know the release branch and bsp? thank you.  It seems like this https://www.mediatek.com/products/iot/aiot/pumpkin-software but please let me know details so I can reproduce.

[2020-11-20 14:05] vijayrakesh13 commented on #86
@rpcme  I'm using Dunfell 3.1.1 release branch and mediatek bsp. Thank you.

[2020-11-23 13:51] rpcme commented on #86
@vijayrakesh13 I am not familiar with this BSP so I am working with Mediatek directly.  Can you please let me know / verify:

Thank you!

[2020-11-23 14:25] vijayrakesh13 commented on #86
@rpcme Yes, it is i500-Pumpkin with Rity SDK v20.1.

Thank you.

[2020-11-24 20:03] nirantarashwin commented on #86
Hi @vijayrakesh13,

The issue you are facing is a common one and it is being referenced in a [Technical FAQ Section of Yocto](https://wiki.yoctoproject.org/wiki/Technical_FAQ#I_see_a_recipe_built.2C_but_building_an_image_containing_the_corresponding_package_fails_at_do_rootfs_because_it_can.27t_find_the_package._How_does_this_happen.3F)

_Usually this is because the recipe claimed to provide the s

[2020-11-25 06:18] vijayrakesh13 commented on #86
Hi Ashwin Nirantar,

As you suggested, shall I use SRC_URI to include all these files?

Thanks & Regards,
Vijay

[2020-11-25 10:51] Damien-Mgt opened #88 "Greengrass Core: OTA update"
Hi, I'm trying to update the Greengrass Core software with the OTA update agent. The execution of the update task always ends with a failure.

I'm using a Raspberry Pi 4 with a Yocto image to install Greengrass Core and other user applications. I use the **zeus** branch of the meta-aws layer. So the version of Greengrass Core is v1.10.1 and I'd like to be able to update it remotely with **AWS IoT

[2020-11-25 13:27] rpcme commented on #88
Hello Damien,

It is unexpected that the OTA feature would be used for Yocto baked distributions.  Usually, customers are doing system upgrade using swupd or similar.  I am concerned what would happen during swupd if greengrass was modified side-by-side.

Also, I should caution that OTA does not work with trusted boot.

Because of these practices and limitations, I never considered the OTA feature

[2020-11-25 13:34] rpcme commented on #86
@vijayrakesh13 @nirantarashwin this is a surprise to me  - the .so files should be put to rootfs for applications using shared library.  Let me reproduce this morning via Poky x86_64.  I will fix as necessary.

The .a files will be shipped eventually when we build for eSDK, but this work has not been completed yet.

@vijayrakesh13 can you please let me know which branch you're working from as well

[2020-11-25 14:30] vijayrakesh13 commented on #86
@rpcme I’m working from master branch on Yocto Dunfell 3.1.1.

[2020-11-25 15:19] rpcme commented on #86
hello @vijayrakesh13 I have verified the problem.  There are two problems actually.

When I worked on the recipe last time, I accidentally removed an EXTRA_OECMAKE to build the shared libraries.  You can see the flag on zeus branch.

Even after fixing this, I noted that the package in the package feed is empty, which is causing the symptom you are seeing.

I am pushing everything aside to focus on

[2020-11-25 15:21] vijayrakesh13 commented on #86
@rpcme Thank you!

[2020-11-25 16:22] rpcme commented on #86
@vijayrakesh13 the fix is pushed to master. could you kindly confirm the fix?
Note that the libs with 1.0.0 suffix do not have a corresponding .so symlink - but I think that's ok?

[2020-11-25 16:33] rpcme commented on #69
Thank you for relaying that information.  I will cross check this across all branches!

[2020-11-25 16:33] #69 closed

[2020-11-25 16:59] rpcme commented on #86
Note that I see we are terribly behind in versions so getting you the latest up there ok?

[2020-11-25 17:44] vijayrakesh13 commented on #86
@rpcme  Fix is working. Build is successful, thank you!

[2020-11-25 17:44] #86 closed

[2020-11-26 04:13] vijayrakesh13 opened #89 "(meta-aws/recipes-crt/aws-crt-cpp/aws-crt-cpp_0.8.3.bb:do_compile) failed with exit code '1'"
Hi,

After installing the aws-iot-device-sdk-cpp the dependence package aws-crt-cpp do_compile failed. Here is the log below.

| ninja: build stopped: subcommand failed.
| WARNING: /home/rity/bsp/tmp/work/aarch64-poky-linux/aws-crt-cpp/0.8.3-r0/temp/run.do_compile.1622:1 exit 1 from 'eval ${DESTDIR:+DESTDIR=${DESTDIR} }VERBOSE=1 cmake --build '/home/bl-docker/rity/bsp/tmp/work/aarch64-poky-linux/a

[2020-11-26 16:53] vijayrakesh13 commented on #89
@rpcme Kindly please look into the issue. Thank you!

[2020-11-26 19:43] rpcme commented on #89
Hello @vijayrakesh13  - There is no more dependency between the two packages.  Due to complexities that the repo maintainer but on the build environment, the two recipes are separate and the device sdk already includes CRT.  I am trying to make the CRT recipes palatable on their own but since the higher level recipes already include the CRT it is of lesser priority.

I do still need to propagate t

[2020-11-29 14:05] rpcme commented on #17
This is fixed

[2020-11-29 14:05] #17 closed

[2020-12-01 04:31] vijayrakesh13 commented on #89
@rpcme Sorry for the late reply. Yes, there is no dependency between two packages, but I was saying CRT is dependence package to run basic subpub example.

Yes, I'm getting an error on dunfell branch, thank you.

[2020-12-02 00:31] rpcme commented on #89
Sorry for the late reply, I will try to get the changes propagated to dunfell (and others) tomorrow morning.  I am unfortunately running out of runway today.

[2020-12-02 07:29] vijayrakesh13 commented on #89
@rpcme Thank you! Is there any recipe for aws-iot-device-sdk-embedded-C also? If yes, Please share me the link.

[2020-12-04 07:05] vijayrakesh13 commented on #89
@rpcme I'm waiting for your response. Kindly please update the changes at the earliest.

[2020-12-04 14:12] rpcme commented on #89
@vijayrakesh13 it is planned but it hasn't happened yet. the new v4 is now ready and we should be able to pick it up.  The last time I checked it doesn't produce a shared library, so this would be provided as a demo recipe and eSDK provider.  I would have to cross check this but this is my understanding right now.

[2020-12-08 08:43] #89 closed

[2020-12-11 16:34] jwinarske opened #91 "removed"

[2020-12-11 16:55] jwinarske commented on #88
@rpcme Can you explain the limitation with trusted boot?

[2020-12-14 20:45] #91 closed

[2020-12-15 20:27] rpcme commented on #88
Please see under Requirements, the fifth bullet point.

https://docs.aws.amazon.com/greengrass/latest/developerguide/core-ota-update.html

My understanding is it changes the filesystem signature. Of course, you might be able to get around it by separating the boot partition from other goo, but I haven't seen people do this often.

[2020-12-16 14:40] rpcme commented on #88
Since the OP hasn't responded for a few weeks, I'm closing this issue.

[2020-12-16 14:40] #88 closed

[2020-12-22 11:52] #10 closed

[2020-12-22 11:52] rpcme commented on #10
Fixed with commit of recipe.

[2020-12-23 01:40] dhwalters423 opened #93 "neo-ai-dlr build failure"
Build configuration:
[code]

local.conf includes the following:
``IMAGE_INSTALL_append = " neo-ai-dlr"``

Error:
[code]

Suggest changing https://github.com/aws/meta-aws/blob/b29e614e76fd61548bb3883a9b3294f789c5c678/recipes-neo-ai/neo-ai-dlr/neo-ai-dlr.bb#L22 to:
``git://github.com/neo-ai/tvm;protocol=https;branch=release-1.7.0;destsuffix=${S}/3rdparty/tvm;name=neo-ai-tvm \``

stable branch does n

[2020-12-23 13:39] rpcme commented on #93
Hello @dhwalters423 this recipe is terribly outdated and I am currently upgrading it to the 1.7.0 tag.  No ETA at this point, there's a few bumps, but working on it right now.

[2020-12-23 19:11] rpcme commented on #93
Hello @dhwalters423 the changes have been applied to master. Kindly pull and switch meta-aws branch to master.

[2020-12-23 19:50] rpcme commented on #16
This has been completed thanks to adding the Corretto recipes.

[2020-12-23 19:50] #16 closed

[2020-12-28 21:24] yourslab commented on #89
Hi @vijayrakesh13 @rpcme

`aws-iot-device-sdk-embedded-C` now supports installation.

Documentation can be found in the [README](https://github.com/aws/aws-iot-device-sdk-embedded-C#installation).

[2021-01-04 19:26] dhwalters423 commented on #93
I pulled and checked out master

Added in local.conf:
``IMAGE_INSTALL_append = " neo-ai-dlr"``

Received the following error:
[code]

[2021-01-06 02:06] rpcme commented on #93
setuptools changed between zeus/dunfell and what's on master now.

Please pull and switch to Zeus branch.

[2021-01-06 22:51] rpcme commented on #93
This is verified fixed (messaged directly to me)

[2021-01-06 22:51] #93 closed

[2021-01-11 15:31] dhwalters423 opened #95 "Missing python3-distro dependency for neo-ai-dlr"
[code]

**Missing ‘distro’ package**

Run the following from device after build:
``import dlr``  throws the following error:
[code]

To fix, ``python3 -m pip install distro``'

*Adding recipe for ‘distro’*
It’s not included in meta-openembedded/meta-python in zeus branch, but was added with this PR to meta-openembedded and merged on master: https://github.com/openembedded/meta-openembedded/pull/21

[2021-01-11 15:41] dhwalters423 opened #96 "Missing test package dependencies for neo-ai-dlr"
The packages are not required for DLR to build and run successfully on the device, but in order to complete the [DLR integration tests](https://github.com/neo-ai/neo-ai-dlr/tree/release-1.7.0/tests/python/integration) the following packages are required:

 * pytest
 * sklearn (scikit-learn)
 * scipy (dependency of sklearn)

Scipy is an RDEPEND of sklearn, but there seems to be issues xcompiling:
h

[2021-01-11 16:02] rpcme commented on #95
Hello @dhwalters423, the plan is to put recipes that need to be upstream and upstream will likely not ship them to release branches (like zeus), is to put them into a `recipes-external` directory off the root.  If you would like to submit this as a PR for zeus and dunfell (if it's not on dunfell or will not be pulled down to dunfell) then we can maintain it here until further notice.

[2021-01-11 16:04] rpcme commented on #96
Hello @dhwalters423 we can handle this like #95 - put the recipes into `recipes-external` until they can be shipped upstream.  There is another effort that needs these recipes as well.

[2021-01-11 16:51] Zeph1990 opened #97 "Unable to locate package aws-iot-device-sdk-cpp-v2"
Hi,
we have a problem on aws-iot-device-sdk-cpp-v2 recipe from the master branch when building our device image based on yocto dunfell. local.conf's IMAGE_INSTALL_APPEND  includes aws-iot-device-sdk-cpp-v2.

ERROR: st-image-eglfs-qt-1.0-r0 do_rootfs: Unable to install packages. Command '/home/alex/st_dunfell_ota/build-openstlinuxeglfs-stm32mp1/tmp-glibc/work/stm32mp1_disco-ostl-linux-gnueabi/st-im

[2021-01-11 20:41] rpcme commented on #97
Yes, I haven't tested it on dunfell specifically yet. Once done, hopefully today, I will commit to dunfell.  Sorry for that @Zeph1990.

[2021-01-11 23:05] rpcme commented on #97
Hello @Zeph1990 I have pulled down the recipes to dunfell.

Note that in so doing I found an incorrectly configured flag and shared libraries were not being generated.  They are now generated and put to /usr/lib properly.

Note that I have not tested SDK generation yet so I am unsure if headers are being propagated. Please let me know your experience and will help to overcome any shortcoming you m

[2021-01-12 09:37] Zeph1990 commented on #97
Hi @rpcme,

Thank you so much, i will test it as soon as possible and let you know.

Best Regards

[2021-01-14 11:59] jackmitch commented on #96
Without wanting to intrude, there is a common effort going on at the moment to try get scikit-learn building under OE. Please see the repo https://github.com/tuxable-ltd/meta-scikit-learn, and take note of issue https://github.com/tuxable-ltd/meta-scikit-learn/issues/1, while it looks like you're targeting a 64bit system you will probably get away with it, but there may be other underlying issues

[2021-01-20 14:23] rpcme commented on #97
Closing - please reopen if error is reproduced.

[2021-01-20 14:23] #97 closed

[2021-01-20 14:24] rpcme commented on #95
This issue has been resolved by #99 and #100

[2021-01-20 14:24] #95 closed

[2021-01-20 14:25] rpcme commented on #14
Greengrass demo support was added for Greengrass v2.  At present time this is on master but will be propagated to relevant release branches when ready.

[2021-01-20 14:25] #14 closed

[2021-01-22 20:35] aduskett opened #102 "Official buildroot support?"
I'm not sure where to put this, so I figured I would put this here.
I was able to port *most* of the packages used in the Zeus branch over to buildroot and make a repository:
https://github.com/aduskett/buildroot-aws-iot

Suppose you want to take over and make an official repository that would be awesome. If not, no big deal either. I figured you guys would like to know!

Thanks!

[2021-01-23 03:56] aduskett commented on #102
The main branch also has the latest versions of the various libraries including many of the sdk's that are in the issues list.

[2021-01-23 21:50] rpcme commented on #102
Hello @aduskett This is superb! Let me check internally how we would go about doing this.  Hope to get an answer for you by the end of this coming week!

[2021-01-23 21:58] aduskett commented on #102
Thanks! I am going to also include the video stream packages as well.

[2021-01-25 17:00] kennu opened #103 "Greengrass pkg_postinst_ontarget_${PN} prevents read-only-rootfs"
The Greengrass recipe is using pkg_postinst_ontarget_${PN} to perform some configuration on first-boot: https://github.com/aws/meta-aws/blob/master/recipes-greengrass/greengrass-core/greengrass.inc#L40

This prevents building a read-only root filesystem using IMAGE_FEATURES += "read-only-rootfs".

It causes this error at build-time:

    The following packages could not be configured offline and r

[2021-01-25 19:38] aduskett commented on #102
@rpcme I was able to update all of the packages to their latest releases in the main branch, and I added the amazon-kinesis-video-streams packages as well.

[2021-01-26 10:53] gianlucacornacchia opened #104 "aws-crt-python: build fails in zeus branch"
In zeus branch build fails

branch: zeus
command: bitbake aws-iot-device-sdk-python-v2
error:
WARNING: aws-crt-python-0.5.11-r0 do_fetch: Failed to fetch URL git://github.com/awslabs/aws-crt-python.git;branch=master;name=aws-crt-python, attempting MIRRORS if available
ERROR: aws-crt-python-0.5.11-r0 do_fetch: Fetcher failure: Unable to find revision 2d19abb7fc360416202f9c590971c91c84dc2c72 in bran

[2021-01-29 13:31] rpcme commented on #104
Thank you for submitting this issue.  I will evaluate the proper fix and get back to you hopefully within 3 business days.

[2021-01-29 13:32] rpcme commented on #103
@kennu Thank you for your feedback.  I will evaluate the proper fix and get back to you hopefully within 3 business days.

[2021-01-29 13:37] rpcme commented on #102
Hello @aduskett for clarity: if we were to "take over" the maintenance, and since this would be MIT License, your expectation would only be to carry over the copyright correct? We are not able to grant commit bits for individuals outside our Github orgs.  Please confirm so I can effectively "work the process".

[2021-01-29 17:36] aduskett commented on #102
Hey @rpcme That's usually the standard license I attach to any repository. If you want I would gladly change it over to apache-2.0 like the rest of your repos.

[2021-01-29 21:09] kennu commented on #103
Thanks @rpcme. Btw, I wonder why the Greengrass recipe is removing /var/volatile from fstab? This is also needed for a read-only filesystem, so that /var/volatile is a writable tmpfs. It seems a little aggressive to force this on the OS build.

In my current workaround, I implemented these alternatives to eliminate pkg_postinst_ontarget:
* Don't modify /etc/sysctl.conf but instead add a /etc/sysct

[2021-01-30 00:36] rpcme commented on #102
Hello @aduskett the license is not the issue.  I just wanted to make sure you were OK with the commit bit situation.  Just trying to ensure there isn't any misunderstanding :)  I would have to fork the repo internally, do testing, and then go through our normal internal open source process to instantiate the repo in one of our organizations.  So, it's a process, but I feel it's totally worth it.

[2021-01-30 00:58] aduskett commented on #102
Thanks, @rpcme ! I really appreciate you supporting Buildroot! It's not often I see companies supporting external buildroot tree's, let alone a company so large as Amazon! It really means a lot!

[2021-01-30 01:07] rpcme commented on #102
Hi @aduskett can you contact me on https://www.linkedin.com/in/richardelberger/ so I can meet you formally and setup a virtual  meet and greet for next week?  I want to ensure we have the same expectations.

[2021-01-30 18:53] aduskett commented on #102
Can do!

[2021-02-01 19:54] kennu opened #107 "Greengrass startup script /etc/greengrass breaks when /greengrass is a symlink"
The startup script at https://github.com/aws/meta-aws/blob/master/recipes-greengrass/greengrass-core/greengrass/greengrass-init#L3 uses the command `find /greengrass/ -type f -name greengrassd` to find the Greengrass executable. This breaks when /greengrass is a symlink (in our case, it's a symlink to /data/greengrass, because our root partition is read-only and Greengrass has to be on a writable

[2021-02-02 08:44] angrdtsk opened #108 "Building latest meta-aws (C++ SDK) with old Yocto (Pyro)"
I am trying to build meta-aws from master branch with Yocto Pyro. I know Pyro is old so I am ready to accept that I may not get it to work, but I have a reason to try. What I need is the C++ SDK v2, preferably recent enough to come with the changes that brought in the support for building your own application outside the SDK source tree a couple of months ago.

I have added the layer into my bblay

[2021-02-03 06:07] angrdtsk commented on #108
I remember that when buidling the C++ SDK v2 without Yocto, there was need to have libssl-dev installed. I also remember that that might have done some relation to checksums which this error here seems to be about too, at least based on the name of the file. I noticed that the meta-aws layer has no reference to libssl. Could these details have any role in this issue?

[2021-02-06 19:22] rpcme commented on #108
@angrdtsk  I am not entirely certain why this would be happening but I would need to test it.  Is it that you just want to tack on cloudy capabilities to an existing app?

Pyro is so old I am wondering if I will have do dig up an Ubuntu 16.04 image to build it.  Of course this is kind of a big ask to create another maintenance branch but I will give it a go if this is really blocking.  Please let

[2021-02-06 19:24] rpcme commented on #107
This is definitely a new case.  Thank you for the report.  I need will need to thoroughly test this one to ensure I don't get any regression.

Are you only reporting this and already created a bbappend for the recipe or is this blocking you?

[2021-02-06 19:25] rpcme commented on #102
@aduskett as discussed we will continue to work on this offline and I will close this issue.  Thank you so much for this great work!!

[2021-02-06 19:25] #102 closed

[2021-02-06 19:38] kennu commented on #107
We are actually patching files at build time and replacing greengrass.inc and greengrass_1.11.0.bb with our own versions.  So it's not blocking our project, but of course it would be nice to use the official versions in the long run.

[2021-02-08 11:39] angrdtsk commented on #108
@rpcme Thanks for response! I will check a few more things this week and get back to this after that.

[2021-02-12 11:27] angrdtsk commented on #108
Hi again!

@rpcme I have some new information. First, using Pyro is no longer in plans. Target is now Thud. Also, it seems that this issue is more about hardware support than about versions. There seems to be something in the code that prevents me from building it for ARMv7. Is that something you could somehow help with?

[2021-02-12 15:50] elockman opened #109 "awsiot install issue in yocto build"
I have a meta/aws layer in the yocto build, with:

but it appears it wasn't built into the image because there aren't any dependencies asking for it.

I didn't realize there was a recipe for aws-iot-device-sdk-python-v2, but I found it here:

I added the recipe to local.conf with

After Flashing the new image, this is what I see for aws python packages:

Pypi shows version 1.5.4 available.
This lo

[2021-02-12 16:31] elockman commented on #109
@rpcme can you explain the differences between the following yocto recipes:

aws-iot-device-sdk-python-v2
https://layers.openembedded.org/layerindex/recipe/125260/

python-aws-iot-device-sdk-python
https://layers.openembedded.org/layerindex/recipe/125150/

python3-aws-iot-device-sdk-python
https://layers.openembedded.org/layerindex/recipe/124151/

Should I have used a different recipe with a dunfe

[2021-02-13 20:50] rpcme commented on #109
Hello @elockman meta-aws is the official AWS device software layer for Yocto. Other layers can implement recipes if they like, but we cannot reassure correctness of those recipes.

The first on your list is the V2 SDK - this is what we would like customers to use when using the device SDK for Python.
The second on your like is the old V1 SDK - please consider it deprecated.
The third on your list

[2021-02-13 21:47] rpcme commented on #104
Hello @gianlucacornacchia I have pulled down my fixes from master.  Can you please confirm? I will automatically close this issue in 7 days.

[2021-02-13 21:55] rpcme commented on #108
hello @angrdtsk arm32 might be a bit rough going.  Definitely something I can help navigate and get a definite answer.  Can you let me know what the error signature is or is there cmake output you can share?

[2021-02-13 23:59] rpcme commented on #109
Hello @elockman I have fixed the issue and you should have no problem on the dunfell branch.

[2021-02-14 00:02] rpcme commented on #27
V1 SDKs will not be implemented.

[2021-02-14 00:02] #27 closed

[2021-02-14 00:04] rpcme commented on #31
Hello @BlessyNavara I am so sorry I missed your message!  We will not be supporting v1 for new designs.  I am going to close this out. If you have any issue or need this supported on a specific release branch, please let me know.  Please use the V2 SDK.

[2021-02-14 00:04] #31 closed

[2021-02-14 00:04] rpcme commented on #35
V1 SDKs will no longer be implemented

[2021-02-14 00:04] #35 closed

[2021-02-14 00:05] rpcme commented on #33
V1 SDKs will no longer be implemented.

[2021-02-14 00:05] #33 closed

[2021-02-14 00:05] rpcme commented on #21
V1 SDKs will no longer be implemented.

[2021-02-14 00:05] #21 closed

[2021-02-14 00:07] rpcme commented on #19
V1 SDKs will not be implemented.

[2021-02-14 00:07] #19 closed

[2021-02-15 06:34] angrdtsk commented on #108
This is where the build process stops at:
`aws-iot-device-sdk-cpp-v2/1.10.0-r0/git/crt/aws-crt-cpp/crt/aws-checksums/source/arm/crc32c_arm.c:1:0: error: switch -mcpu=cortex-a8 conflicts with -march=armv8-a+crc switch [-Werror]`

I no longer have logs more than that, but I can get them if they are needed.

[2021-02-15 15:53] rpcme commented on #108
@angrdtsk working on it now. Hopefully can get you unblocked soon ok?

[2021-02-15 16:36] elockman commented on #109
@rpcme thanks for the help.  I rebuilt yocto, after seeing this message, but after FLASHING the image, I am still seeing awsiotsdk v1.0.0dev0?

I see that you moved the **awsiotsdk** commit reference to the head of the main branch (v1.5.4, commit a7739a6f980292ae146e064b18f3f2723019261e), That looks right, but the previous commit reference was only from October 28th (v1.5.3, commit 844bf38ebb13e31

[2021-02-15 18:47] rpcme commented on #109
I think I see what's going on here.  The default version for setup.py is that version number.   The code itself should be right, I just need to tweak the recipe so pip emits properly.  I never install pip on embedded linux because it should "just run" so I never saw this. I see the value in what you're doing so let me close out another thing I'm working on and then I will see what I can do about t

[2021-02-15 20:21] rpcme commented on #108
Hello @angrdtsk I pulled down recipes from master and needed to do modification for cmake build options. anyway, I could build fine under 'qemuarm'.  if the issue persists, it might be related to the bsp, in which case please let me know what you are using.

[2021-02-15 20:35] rpcme commented on #109
Hello @elockman I have pushed changes.  I verified with pip in qemu.

![Screenshot from 2021-02-15 15-33-40](https://user-images.githubusercontent.com/2113279/107990858-5ddc4080-6fa3-11eb-8047-cdf291965998.png)

It's on dunfell but still need to propagate to other branches.

[2021-02-15 20:51] elockman commented on #109
@rpcme Thanks, again.

Will I need to add **IMAGE_INSTALL_append = "python3-distro"** to local.conf in my dunfell build?

[2021-02-15 20:56] rpcme commented on #109
I didn't.  the only thing I had in my local.conf is:
`IMAGE_INSTALL_append = " aws-iot-device-sdk-python-v2 python3-pip"`

[2021-02-15 21:38] rpcme commented on #109
Also, I noted the license wasn't showing properly in the output so I've supplied pull requests to both SDK repos to fix that.

[2021-02-16 12:27] angrdtsk commented on #108
Hi! Sounds good @rpcme ! Would it be possible for you to share those modifications for example as a patch?

[2021-02-16 14:32] rpcme commented on #108
@angrdtsk I already pushed to the thud branch.  Sorry I wasn't clear: when I say "pulled down" I meant pulled down changes from master to thud.

Btw, do not use the greengrass version on that branch.  it's not supported anymore. I need to go back and update that too.

[2021-02-16 21:36] elockman commented on #109
**GOLD STAR for @rpcme!**

I now have AWSIOTSDK installed on my Linux Build.

Thank You!

[2021-02-16 22:02] rpcme commented on #109
@elockman I am very happy we got this resolved for you!  Would like to see what you're building on the SAMA5D2 (I'm a Microchip fan) - drop me a note on LinkedIn when you're ready.

[2021-02-16 22:02] #109 closed

[2021-02-23 00:14] rpcme commented on #108
Closing as solved.  Please let me know if otherwise.

[2021-02-23 00:14] #108 closed

[2021-02-23 00:14] rpcme commented on #104
Closing as solved.  Please let me know if otherwise.

[2021-02-23 00:14] #104 closed

[2021-02-24 06:47] angrdtsk commented on #108
@rpcme Yes, this is solved. It just had a little delay in informing about that. Thanks for help!

[2021-02-26 07:39] kmeshcheryakov opened #110 "[greengrass-bin] The first deployment fails with NoSuchFileException"
When the Greengrass receives the first deployment it fails with the following exception:

[code]

The problem seems to be caused by the incorrect initial `${GG_ROOT}/alts/current` symbolic link. When it should use an absolute path, it uses the relative:

greengrass-bin_2.0.3.bb, line 42:
[code]

The possible fix is to change the line to

[code]

[2021-02-26 18:31] rpcme commented on #110
@kmeshcheryakov Thank you for the feedback.  Were you able to confirm this is the fix?  I will not have the opportunity to do a full pass until next Tuesday.

[2021-03-03 08:13] lukaszs-lars commented on #110
I had a similar issue and the solution was:
`ln -s /${GG_BASENAME}/alts/init current`

because `${GG_ROOT}` points to a directory on the host

The deployment ended with success however I got the following error and I don't know if it will not produce further errors in the future:

[code]

[2021-03-10 16:25] n3o33 opened #111 "greengrass config.yaml missing information"
Hey all,
where can i find the following informations ?

awsRegion: ##aws_region##
iotCredEndpoint: ##iot_cred_endpoint##
iotDataEndpoint: ##iot_data_endpoint##
iotRoleAlias: ##role_alias##

i want to fill that information without using the "auto setup" with the AKS Keys. Is there a way to simple get the info from console.aws.amazon.com

thx for helping me out

[2021-03-13 22:19] rpcme commented on #111
Hi @n3o33

awsRegion: that is the region you would like Greengrass to talk to, i.e. Virginia is us-east-1.
iotCredEndpoint/iotDataEndpoint: I only know how to get these from the command line, i.e.
[code]
iotRoleAlias: this is up to you, please see the instruction here:  https://docs.aws.amazon.com/greengrass/v2/developerguide/device-service-role.html

[2021-03-24 15:16] rpcme commented on #103
Hello @kennu somehow I missed your last message and finally getting back on these after Embedded World chaos.

I thought this change was only for the Qualcomm BSP which had some ... interesting challenges.  I need to re-evaluate and figure out how it got snuck into all targets.

[2021-03-24 15:16] #111 closed

[2021-03-24 15:19] rpcme commented on #110
@lukaszs-lars I am sorry for the late response. Just now recovering from Embedded World.  Working on this now.

[2021-04-01 01:55] rpcme commented on #74
This issue has been completed.  boto3 is currently under recipes-devtools/python but will probably be moved to recipes-sdk but with the same recipe name.

[2021-04-01 01:55] #74 closed

[2021-04-01 04:44] sks2021 opened #121 "Add C++ only option"
It would be good to have python (meta-python and dependent projects) under some conditional flags like DISTRO_FEATURES or something similar so that someone can build without python.

[2021-04-01 19:17] rpcme commented on #96
@jackmitch can you let us know what's going on with that? I am going to add the recipes under recipes-external so we can support customers, but when it gets upstream and it supports all out targets, I'm happy to pull it out.  Especially if it's going into something like meta-python.

[2021-04-01 19:25] rpcme commented on #12
This is in progress from another angle (meta-aws-ci)

[2021-04-01 19:25] #12 closed

[2021-04-01 19:26] rpcme commented on #11
Completed - https://github.com/aws/meta-aws/blob/master/recipes-devtools/amazon-corretto/corretto-11-bin_11.0.9.12.1.bb

[2021-04-01 19:26] #11 closed

[2021-04-01 19:30] rpcme commented on #121
hello @sks2021 I would like clarity on the meaning of this issue - do you mean we should not automatically include the python interpreter?  I think core already includes a barebones python interpreter for system function.  Maybe I'm missing it but I don't think the Device SDK for C++ forces you to install python? Thank you

[2021-04-02 11:56] rpcme opened #122 "Checklayer failure: gatesgarth: missing upstream dependency"
[Container] 2021/04/02 11:29:20 Running command yocto-check-layer -d -o ycl-check.log --additional-layers meta-python --dependency $HOME/dist/meta-openembedded/meta-oe $HOME/dist/meta-openembedded/meta-networking $HOME/dist/meta-openembedded/meta-python -d $HOME/dist/meta-aws
77 | INFO: Detected layers:
78 | INFO: meta-aws: LayerType.SOFTWARE, /root/dist/meta-aws
79 | ERROR: checklayer: Don't have

[2021-04-02 12:29] rpcme opened #123 "Checklayer failure: dunfell: signature changed (need kernel modification opt-in)"
[Container] 2021/04/02 11:54:40 Waiting for agent ping
--
2 | [Container] 2021/04/02 11:54:45 Waiting for DOWNLOAD_SOURCE
3 | [Container] 2021/04/02 11:54:46 Phase is DOWNLOAD_SOURCE
4 | [Container] 2021/04/02 11:54:46 CODEBUILD_SRC_DIR=/codebuild/output/src159671732/src/github.com/aws/meta-aws
5 | [Container] 2021/04/02 11:54:46 YAML location is /codebuild/output/src159671732/src/github.com/aws/m

[2021-04-02 12:49] rpcme opened #124 "Checklayer failure: zeus: multiple check failures (no opt-ins for kernel, docker patch not guarded, more)"
[Container] 2021/04/02 12:34:44 Waiting for agent ping
--
2 | [Container] 2021/04/02 12:34:47 Waiting for DOWNLOAD_SOURCE
3 | [Container] 2021/04/02 12:34:48 Phase is DOWNLOAD_SOURCE
4 | [Container] 2021/04/02 12:34:48 CODEBUILD_SRC_DIR=/codebuild/output/src646616690/src/github.com/aws/meta-aws
5 | [Container] 2021/04/02 12:34:48 YAML location is /codebuild/output/src646616690/src/github.com/aws/m

[2021-04-06 09:44] jackmitch commented on #96
Hi @rpcme, the layer is currently in a working state and is being used on both arm and arm64 targets in a production setting, however the project only uses a small subset of functionality so it's not exhaustive testing. I will tidy up the layer and push a gatesgarth branch which coincides with what my client is using. As for pushing upstream I currently have no plans due to the requirement for For

[2021-04-06 11:45] rpcme commented on #122
fixed

[2021-04-06 11:45] #122 closed

[2021-04-06 11:45] rpcme commented on #123
fixed

[2021-04-06 11:45] #123 closed

[2021-04-08 14:41] rpcme commented on #121
Closing this issue as a non-issue - C++ recipes do not depend on python

[2021-04-08 14:41] #121 closed

[2021-04-08 15:14] rpcme commented on #96
Hello @jackmitch thank you for your input.  Indeed, there are very specific requirements for these libraries that will be difficult to be shipped upstream.

we need to support more than gatesgarth.  However, it is not cool to create fragmentation here.  Can our engineer get the required dependencies into your layer, and then have the layer indexed by openembedded if it's not already?  I will then

[2021-04-08 15:28] jackmitch commented on #96
@rpcme, to go further back from Gatesgarth I believe will require including a newer version of numpy as they implemented a packaging feature that I use in order to successfully cross compile. I would be happy to take patches for older branches in order to implement this.

With regards to maintenance the layer was created on behalf of a client and is being shipped in production for arm and arm64 ba

[2021-04-08 15:49] rpcme commented on #96
@jackmitch I have this PR here: https://github.com/aws/meta-aws/pull/119

I asked Srikanth to take out the dependency in layer.conf because 1/ I didn't want the hosttools dependency there for everyone and 2/ I didn't have the time to think about tuning it.  So, I asked him to document it.  I think it might have been forked from your work or someone else's.  If we can get this into your repo I thin

[2021-04-08 16:07] jackmitch commented on #96
Yes, throw a pull request over, I'll also try whip the actual Gatesgarth layer into shape. I was also undecided on the hosttools and you've made it easy by proposing to be a user of the layer.

[2021-04-08 19:18] rpcme commented on #96
awesome @jackmitch I spoke with @srikanth311 and he will do the PR when he gets a moment.

[2021-04-10 20:36] srikanth311 commented on #96
Thank you @rpcme. I just tested it again by forking https://github.com/tuxable-ltd/meta-scikit-learn and adding my changes. I created a new branch with `dunfell` in my repo - https://github.com/srikanth311/meta-scikit-learn/tree/dunfell. @jackmitch - Can you create `dunfell` branch in your repo, so that I can push it to that branch?

[2021-04-12 16:48] jackmitch commented on #96
@srikanth311 I've created that branch for you.

[2021-04-24 22:32] rpcme commented on #96
@srikanth311 @jackmitch I see that the PR was approved - awesome teamwork!! I'm going to close this issue now.

[2021-04-24 22:32] #96 closed

[2021-04-24 22:33] rpcme commented on #124
This has been fixed.

[2021-04-24 22:33] #124 closed

[2021-05-09 22:11] rpcme opened #125 "AWS X-Ray daemon recipe"
https://github.com/aws/aws-xray-daemon

[2021-05-12 19:24] dhwalters423 opened #126 "Secure Tunneling Local Proxy requires Boost 1.69.0"
The Secure Tunneling local proxy build fails with several errors from a clean environment. In order to successfully build, you need to downgrade the recipe for Boost to [Boost 1.69.0](https://github.com/aws-samples/aws-iot-securetunneling-localproxy#2-download-and-install-boost-dependency). The standard distribution from [Poky is version 1.76](https://git.yoctoproject.org/cgit.cgi/poky/plain/meta/

[2021-05-23 00:44] jwinarske commented on #18
Firecracker Recipe: https://github.com/jwinarske/meta-microvm

Builds on NVIDIA Xavier NX BSP (aarch64)

[2021-05-23 10:49] rpcme commented on #18
@jwinarske nice! is there a reason why you just didn't do a PR to this layer?

[2021-05-23 17:11] jwinarske commented on #18
Keep in mind it brings in layer dependencies of meta-clang, and meta-rust.  I'm finding I like the approach of having them separate when target doesn't need rust.  Something like meta-aws-rs might be good.  But I can PR into here.

[2021-05-23 18:15] rpcme commented on #18
We can loosely couple the dependencies through the layer config - like we have for greengrass when wanting docker, specific runtimes, or other heavyweight dependencies.

Super appreciate it :)

[2021-05-24 05:09] jwinarske commented on #18
https://github.com/aws/meta-aws/pull/128

[2021-05-25 14:24] kennu opened #130 "Greengrass V2 support in zeus branch"
Hi! I'm working on migrating a zeus-based project from Greengrass V1 to V2. Currently it looks like zeus only has Greengrass V1, while V2 support is in master. I wonder if we could have it in zeus too?

[2021-05-25 16:27] rpcme commented on #130
Hello @kennu

I will discuss in the team when we can get it propagated and tested.  When doing that should probably refactor the recipe-* dirs as well. Otherwise it might be a bit difficult to track.

If you would like to pull down the recipe from master (you will need corretto as well - see recipe requirements) and do a PR I'm ok with that too.  I don't have any reason to believe ggv2 will not wo

[2021-05-25 17:28] kennu commented on #130
Thanks @rpcme I will experiment with in the near future and see if I can get our stuff running.

[2021-05-26 04:28] kennu commented on #130
So far I have Greengrass V2 running on the device, but I'm having some trouble configuring it.

I tried to put `posixUser: ggc_user:ggc_group` and `awsRegion: eu-west-1` into https://github.com/aws/meta-aws/blob/master/recipes-iot/aws-iot-greengrass/files/greengrassv2-init.yaml but it seems that Greengrass is not picking those up. After booting the device I see `awsRegion: "us-east-1"` and `runWit

[2021-05-26 21:52] kennu opened #131 "greengrass-bin recipe should generate config.yaml (not config.yaml.clean)"
In https://github.com/aws/meta-aws/blob/master/recipes-iot/aws-iot-greengrass/greengrass-bin_2.0.3.bb#L35 the recipe is creating `config.yaml.clean` which has no effect. I was wondering why my changes to greengrassv2-init.yaml didn't work. Greengrass will only read initial settings from `config.yaml`.

Thanks to @MikeDombo in https://github.com/aws-greengrass/aws-greengrass-nucleus/issues/830 for

[2021-05-26 21:56] MikeDombo commented on #131
I believe it is getting setup here: https://github.com/aws/meta-aws/blob/master/recipes-iot/aws-iot-greengrass/greengrass-bin-demo_2.0.3.bb#L30

[2021-05-26 22:03] kennu commented on #131
Yeah it's a separate recipe for greengrass-bin-demo vs. greengrass-bin. I've been using greengrass-bin. I just assumed demo is not for real use..

[2021-05-26 22:04] kennu commented on #131
If the intent is to create my own recipe or bbappend greengrass-bin, that's fine too, but needs some documentation / instructions. :-)

[2021-05-26 22:07] rpcme commented on #131
The purpose of -bin-demo is for persons creating a one-off demo.  bridging the gap between install and a working install in -bin was TBD - since customers can implement any number of provisioning schemes.  Sorry for the confusion and non-documentation on this point.

[2021-05-26 22:07] MikeDombo commented on #131
You should look at https://docs.aws.amazon.com/greengrass/v2/developerguide/manual-installation.html

[2021-05-26 22:25] kennu commented on #131
From end-user perspective, the challenge is that I didn't know which parts of https://docs.aws.amazon.com/greengrass/v2/developerguide/ apply when using the meta-aws recipe. I couldn't be sure whether any of the Installation sections apply, since I would have assumed the installation to happen while BitBake builds the image.

But now I understand that there is no Greengrass installation during Bit

[2021-05-26 23:00] rpcme commented on #131
@kennu Thank you for this - also there is a README you can edit if you like with the details.  We are happy to learn through this. I think my problem is I always used -bin-demo and never experienced the merry-go-round.  Now we know what requires targeting but still can use the feedback.

[2021-06-02 14:26] rpcme commented on #131
@kennu Do you have any update?  I am doing some refactoring on the zeus branch (specifically to include Iot Device Client there).  I might seed the greengrass recipes just for completion but I don't want to mess your work up.

[2021-06-02 14:50] kennu commented on #131
@rpcme I've created my own local recipe based on greengrass-bin and made small changes to it. I'm still working on getting all the policies and other configurations right in AWS so it's taking me a while to get our apps running. When the whole thing is finally working, I can check what the situation is with the official recipe and compare my changes. I think we're also using a locally modified ver

[2021-06-03 16:29] rpcme commented on #126
Hello @dhwalters423 it seems as though I have something working.  The instructions you provided were a bit incomplete so I needed to trudge my way through it a bit.  Can you please check it on the mainline?  The changes are committed.

Summarized: boost 1.69.0 was added to meta-aws/recipes-support/boost, propagated from zeus.  I set the preferred version in the recipe.  There are warnings about mu

[2021-06-04 11:55] rpcme commented on #126
hello @dhwalters423

Due to issues with layercheck trying to resolve this issue, I have removed the recipe from the mainline.

An issue has been posted to the repo maintainer for the software:

https://github.com/aws-samples/aws-iot-securetunneling-localproxy/issues/51

When the project starts keeping boost up to date we can continue to maintain the recipe in this project.

Closing this issue.

[2021-06-04 11:55] #126 closed

[2021-06-04 12:30] rpcme commented on #13
Closing this issue given no new work will be done for Greengrass v1.x and new Greengrass recipe maintainers will handle when Greengrass 2.x supports secure hw

[2021-06-04 12:30] #13 closed

[2021-06-08 10:54] sskrn opened #133 "Fatal error condition occurred in /usr/src/debug/aws-c-mqtt/0.5.5-r0/git/aws-c-mqtt"
Hello..
I am using meta-aws layer (dunfell) for the Yocto image on my Nano Pi Duo2 Board. I did compiling this layer with configuration in my image.conf with configuration:

IMAGE_INSTALL_append = " aws-iot-device-sdk-python-v2"

then, the image compiled successfully and on my board, i can import awscrt on Python3 shell. But when i tried to run sample pubsub.py with proper cert files, it shows thi

[2021-06-08 16:40] rpcme commented on #133
Hello @sskrn - I don't have this board and not sure of the BSP you're using.  Can you please let me know? I can try to repro on dunfell for raspberry pi3 32 bit?

[2021-06-08 19:50] rpcme commented on #133
Hello @sskrn

I was unable to reproduce the issue.  I used the tip revisions of the dunfell branches for the following layers:

[code]

I used the following conf:

[code]

and invoked the pubsub script with no issues.  I did need to modify the policy based on the instruction here.  https://github.com/aws/aws-iot-device-sdk-python-v2/tree/main/samples#pubsub

Having said that, I am a little concern

[2021-06-09 03:27] sskrn commented on #133
Thank you for the quick and detail response.. I am using this meta-allwinner layer: https://gitlab.com/dimtass/meta-allwinner-hx . Also i made my own layer for customization in image recipe as shown below:

`SUMMARY = "Allwinner console image"
LICENSE = "MIT"
AUTHOR = "Dimitris Tassopoulos"

inherit allwinner-base-image

inherit extrausers
EXTRA_USERS_PARAMS = "usermod -P qwer1234 root"

#DISTRO_F

[2021-06-09 10:12] rpcme commented on #133
I think this looks ok.

For some reason I initially thought this board was a Raspberry Pi clone but it's not.  It's totally its own thing.

I am not aware of this BSP - first time seeing it.  Never worked with Allwinner chips before.

I would like to confirm that this is the board:

https://www.armbian.com/nanopi-duo-2/

We will have to get a board to try to reproduce.

[2021-06-10 02:26] sskrn commented on #133
Yes correct, that link refers to the board. Is there possibility that if I develop the script using C++ this error won't occur? I would appreciate it if you can give me some suggestions in using AWS IoT in Yocto Project.

[2021-06-10 11:45] rpcme commented on #133
You're using the preferred SDK for Python.  The C++ SDK uses the same underlying CRT so we need to narrow what the potential root cause might be.

While we get the board on hand, let me ask a few more questions.

The error infers that you have reached this block of code:

https://github.com/awslabs/aws-c-mqtt/blob/8984c51bc834598e3cb1e73ae5d7d614b445ce48/source/packets.c#L158

Which is strange giv

[2021-06-10 18:43] rpcme commented on #18
Fixed by #128 thank you @jwinarske!

[2021-06-10 18:43] #18 closed

[2021-06-10 20:55] rpcme commented on #15
This effort will happen through another workstream.

[2021-06-10 20:55] #15 closed

[2021-06-10 21:01] #107 closed

[2021-06-11 03:16] sskrn commented on #133
Here is the bash script i used  when invoking the script. Sorry i have to block some text because it's my company's server.

[code]
Ok i will try the C++ SDK later, the PC i usually used for building Yocto is still used for other projects.

[2021-06-18 13:22] dhwalters423 opened #134 "High CPU utilization of Device Client"
There has been a critical fix in the Device Client that should be in the next minor release of Device Client (1.3). Please update to the newest Device Client as soon as its feasible. Details in this ticket: https://github.com/awslabs/aws-iot-device-client/issues/147

[2021-07-01 18:23] njgudman-reach commented on #103
Hi @rpcme! I'm also using a read-only rootfs, but with dunfell. Could this fix be merged into the dunfell branch? I tried out the master branch with my dunfell build, and Greengrass installed and ran fine.

[2021-07-02 11:49] rpcme commented on #103
Hello @njgudman-reach I am currently on leave so my workstation is turned off.  Let me see if I can get someone to help you in the meantime ok?

[2021-07-13 21:44] rpcme opened #136 "Create native-sdk build variant for Device SDK C++ v2"
Use case here https://github.com/aws/aws-iot-device-sdk-cpp-v2/issues/297 surfaces the need for supporting the build variant.

[2021-07-13 21:50] rpcme opened #137 "Add recipe for each AWS Device SDK C++ v2 sample"
To accomodate having samples optionally installed as part of the Device SDK C++ V2 per the ask here https://github.com/aws/aws-iot-device-sdk-cpp-v2/issues/297, add PACKAGECONFIG to tack on build flags to build and install the samples.

[2021-07-13 21:55] rpcme opened #138 "Clean up misc crufty files being installed via Device SDK C++ v2 and dependencies"
The actual list of files under observation is noted by the issue submitter in another repository here https://github.com/aws/aws-iot-device-sdk-cpp-v2/issues/297#issue-942488095.  Cleaning up these files reduces.. well, a mess.  Thank you @machadothi for bringing this to our attention.

[2021-07-15 14:44] rpcme commented on #137
After looking at this in detail, it's not as simple as adding a few flags for PACKAGECONFIG. Will edit the title accordingly, and evaluate further.  Might need a recipe per sample.

[2021-07-17 19:26] rpcme commented on #134
@dhwalters423 I see this is fixed but the team hasn't yet made another release.  I will need to wait for a tagged, semantically versioned contiguous set is available before taking the fix.

[2021-07-17 19:27] rpcme commented on #133
@sskrn were you able to move forward here?

[2021-07-26 23:09] kareali commented on #126
Just updated localproxy to bump up boost to use 1.76

[2021-07-26 23:34] kareali opened #140 "Request to add support for aws-iot-securetunneling-localproxy project"
Recently, support for `aws-iot-securetunneling-localproxy` was removed from the Yocto project due to a problem with boost 1.69 (#126), this is a notification that we've updated the localproxy project to the latest boost stable version (1.76), so you should be able to add the recipes for the SecureTunneling support again.

[2021-08-03 12:46] rpcme commented on #140
@kareali Thank you for the notification - will work on getting this added back today!

[2021-08-03 12:57] rpcme commented on #140
@kareali is it possible you can do a tagged release so I can reference the tag instead of the commit hash?

[2021-08-03 13:13] #140 closed

[2021-08-05 19:10] rpcme commented on #110
@lukaszs-lars modern versions of greengrass v2 recipes have landed.  Please let us know if this works for you.  Will close this issue since it's kind of old, please reopen if you're still facing the issue ok?

[2021-08-05 19:11] rpcme commented on #130
Hello @kennu can this be closed?  There are modern Greengrass recipes on master and dunfell.  I am planning on propagating once more to zeus as a final active maintenance run on that release branch.

[2021-08-05 22:36] philcali commented on #131
Hey there @kennu, I'm in the process of updating the [README][1] for using the `bin-demo` approach for a pre-installed config, and I was wondering if there was any additional clarifications that would have helped you out to what you described [here][2].

[1]: https://github.com/aws/meta-aws/tree/master/recipes-iot/aws-iot-greengrass
[2]: https://github.com/aws/meta-aws/issues/131#issuecomment-8491

[2021-08-12 13:36] borisstein opened #157 "Failed to build aws-iot-securetunneling-localproxy on zeus branch"
Describe the bug

I had issue with compiling "aws-iot-securetunneling-localproxy" in yocto

To Reproduce

added:
IMAGE_INSTALL_append += "
...........
aws-iot-device-client
aws-iot-securetunneling-localproxy"
+
BBLAYERS += "${BSPDIR}/sources/meta-aws"

Environment
Ubuntu 20.04

Yocto:
Build Configuration:
BB_VERSION = "1.44.0"
BUILD_SYS = "x86_64-linux"
NATIVELSBSTRING = "ubuntu-20.04"
TARGET_SYS

[2021-08-12 13:41] borisstein commented on #157
****

[2021-08-12 13:47] borisstein commented on #157
My question is: do i need "aws-iot-securetunneling-localproxy" executable on my imx.8 linux ebedded device to be able to make secure ssh to it?

[2021-08-12 14:11] rpcme commented on #157
@borisstein your intent is to use this IoT Core feature, correct? https://docs.aws.amazon.com/iot/latest/developerguide/secure-tunneling.html

In the meantime I will look at the issue.

[2021-08-12 14:18] borisstein commented on #157
Correct, use aws-iot-device-client to connect to AWS service and then use secure tunneling feature, but perhaps i do not need  aws-iot-securetunneling-localproxy package at all and there is secure tunninling handling inside device-client

[2021-08-12 14:19] rpcme commented on #157
I see that I have not yet merged zeus-next to zeus.  This recipe had been broken on zeus for quite some time.  I am doing the build check once more of what's on zeus-next and then push the changes.

[2021-08-12 14:21] rpcme commented on #157
You can use either tool. IIRC both are reference implementations which usually infers customers would want/need to fork the code and modify to their needs but it should be sufficient for prototyping (or might even work for your production use case).

[2021-08-12 14:21] borisstein commented on #157
Thank you!!!

[2021-08-12 14:32] rpcme commented on #157
@borisstein you should be all set now.  I know how frustrating it can be when you go to build a recipe and it just pops so thank you for your patience here ok?

[2021-08-12 14:34] rpcme commented on #133
@sskrn please reeopen if needed.

[2021-08-12 14:34] borisstein commented on #157
Many thanks!!

[2021-08-12 14:39] rpcme commented on #157
Ok going to close this now. Please let us know if you face any more challenges ok?

[2021-08-12 14:39] #157 closed

[2021-08-12 14:51] #136 closed

[2021-08-12 14:52] rpcme commented on #26
boto3 and botocore were added to mainline 4 months ago https://github.com/aws/meta-aws/tree/master/recipes-devtools/python

[2021-08-12 14:52] #26 closed

[2021-08-23 19:47] kennu commented on #131
@philcali In general, I think it is useful to document how various files are created on the Yocto target image. This helps when the recipe is not just copying a directory hierarchy verbatim, but auto-generating files using some logic and using various source files.

The situation I face is usually that I ssh into the newly built Linux image on a test device, and take a look at what files are there

[2021-08-23 19:51] kennu commented on #130
I guess I can close this since the support was added. I can make more tickets if I run into any trouble.

[2021-08-23 19:51] #130 closed

[2021-08-23 23:58] rpcme commented on #131
@kennu thank you for the valuable feedback.

@philcali would love to see how we can improve the devex here - should there be a table naming volatile/non-volatile files?  would like to hear better approaches.

[2021-08-24 16:21] MartinLoeper opened #159 "awscli takes very long to start"
I just installed the **[awscli](https://github.com/aws/meta-aws/blob/master/recipes-support/awscli/awscli_1.19.36.bb)** using this layer's recipe and noticed that it performs very badly on the vexpress-qemu machine (1 cpu core) and the orange-pi-zero (quad-core Cortex-A7):

[code]

Subsequent executions are a bit faster but still perform consistently bad:
[code]

I figured out that most of the tim

[2021-08-31 11:43] rpcme commented on #159
Hello @MartinLoeper sorry for not responding earlier.

The first run duration could be building pyc files. I am only guessing since I am not one of the AWS CLI developers.

Will try to get someone who can explain more deeply.

[2021-08-31 11:58] MartinLoeper commented on #159
Hi @rpcme,

Thanks for offering help!
I can also share some yocto configuration files in kas format if you want to reproduce the behaviour for a qemuarm machine.

[2021-08-31 13:45] rpcme commented on #159
@MartinLoeper Can we please ask more information - what are the timings for first run and second run by using `--debug` flag, developers say this will give more clues.

We will then analyze and see what the next step should be such as reproducing.

[2021-08-31 13:53] MartinLoeper commented on #159
[code]

Subsequent runs yield:
[code]

Version:
[code]

[2021-08-31 14:06] rpcme commented on #159
Well that doesn't look like anything :(

[2021-08-31 14:20] s-aws commented on #159
Hey @MartinLoeper,

The `user`+`sys` is what you're going to want to look at for the time the `aws cli` took to run. The `real time` is the full time including any time the cpu spent on other processes (think context-switching). If this is a single core and the `real time` is much higher, this means there are other processes that are using the processor when the `aws cli` was executed.

Decreasing

[2021-08-31 14:26] gshondal commented on #159
Hey @MartinLoeper,

The `user`+`sys` is what you're going to want to look at for the time the `aws cli` took to run. The `real time` is the full time including any time the cpu spent on other processes (think context-switching). If this is a single core and the `real time` is much higher, this means there are other processes that are using the processor when the `aws cli` was executed.

Decreasing

[2021-08-31 15:09] rpcme commented on #159
Hello @MartinLoeper can you let me know your config.  I'll try to find time to run it through strace to see if we're getting slowdown anywhere that way.

[2021-08-31 20:36] MartinLoeper commented on #159
Hi @rpcme, strace is a good idea. However, I already tried it and could not find anything wrong.

I just noticed that many many files are opened due to python imports and [boto3 loaders](https://botocore.amazonaws.com/v1/documentation/api/latest/reference/loaders.html) - particularly service model loaders.

You further reminded me of our company also possessing a bunch of Raspberry Pis...
I will c

[2021-08-31 22:18] denix0 opened #160 "Component upgrades?"
Are there any plans for component upgrades at least in master branch?

As of right now, I see component recipes in master being the same version as in dunfell, e.g. AWS IoT Device SDK for C++ is 1.10.5 or AWS IoT Device SDK for Python is 1.5.4, etc.

Corresponding components are being updated all the time and their versions are much newer than corresponding recipes... So, wondering what's the plan

[2021-09-01 11:31] rpcme commented on #160
@denix0 we are planning a new rev to support the latest version of Device Client which uses the C++ CLR and Device SDK.  There are significant changes in the CLR dependencies that we need to work through.   I am hoping we can get this done by the end of next week.

[2021-09-01 13:49] rpcme commented on #160
To be more precise, we now have these versions on deck:

AWS IoT Device Client 1.3.4
AWS IoT Device SDK for C++ 1.14.1
AWS IoT Device SDK for Python v1.7.0
aws-crt-cpp 0.15.0
aws-crt-python 0.12.1
aws-c-iot 0.0.7
aws-c-auth v0.6.1
aws-c-cal v0.5.11
aws-c-common v0.6.8
aws-c-compression v0.2.14
aws-c-event-stream v0.2.7
aws-c-http v0.6.5
aws-c-io v0.10.7
aws-c-mqtt v0.7.6
aws-c-s3 v0.1.23
aws-check

[2021-09-01 14:18] rpcme commented on #131
@kennu - I've spoken with the Greengrass team and they will look towards centralizing this information in the product documentation.  Please reopen this issue if necessary.

[2021-09-01 14:21] rpcme commented on #125
Will be tracked internal

[2021-09-01 14:21] #125 closed

[2021-09-01 14:21] rpcme commented on #23
This will not be implemented since V2 is now the standard.

[2021-09-01 14:21] #23 closed

[2021-09-01 14:28] rpcme commented on #67
Will be tracked internal

[2021-09-01 14:28] #67 closed

[2021-09-01 14:59] rpcme commented on #134
@dhwalters423 we are in plan to put in the latest device client but still facing aws-lc not being tagged.  Hopefully this will be resolved over the next 2 weeks.

[2021-09-01 16:03] rpcme commented on #72
Move tracking to internal

[2021-09-01 16:03] #72 closed

[2021-09-01 16:04] rpcme commented on #73
issue moving to track internal

[2021-09-01 16:04] #73 closed

[2021-09-01 16:21] rpcme commented on #36
Moved tracking to internal

[2021-09-01 16:21] #36 closed

[2021-09-01 16:23] rpcme commented on #34
Moved tracking to internal.

[2021-09-01 16:23] #34 closed

[2021-09-01 16:23] rpcme commented on #29
Will not be implemented.

[2021-09-01 16:23] #29 closed

[2021-09-01 16:31] rpcme commented on #30
This will be implemented on request.

[2021-09-01 16:31] #30 closed

[2021-09-01 16:31] rpcme commented on #24
Deprecated SDK will not be implemented as recipe.

[2021-09-01 16:31] #24 closed

[2021-09-01 16:32] rpcme commented on #20
Tracking moved to internal

[2021-09-01 16:32] #20 closed

[2021-09-01 16:32] rpcme commented on #25
This will not be implemented.

[2021-09-01 16:32] #25 closed

[2021-09-03 14:00] rpcme opened #163 "Greengrass v2.3.0 for Hardknott"
Customer has reached out for latest Greengrass v2 support on Hardknott since the NXP IMx8 BSP is aligned with the Hardknott release.

Please propagate and validate the recipes to this release branch to support the customer.

[2021-09-09 22:00] rpcme commented on #160
Hi @denix0  - the upgrades have been staged to master-next and should be on the mainline tomorrow.  Dunfell, Gatesgarth, and Hardknott will fast follow.

[2021-09-09 22:01] rpcme commented on #159
Hi @MartinLoeper I'll just check back weekly to see when you're back from vacation.  I'm looking forward to seeing progress.

[2021-09-09 22:02] rpcme commented on #134
@dhwalters423 New version of Device Client (1.3.4) is staged on master-next and will likely be pushed to master in the morning.  all currently maintained release branches will fast follow.

[2021-09-09 22:02] #134 closed

[2021-09-09 22:06] denix0 commented on #160
Thanks for the heads-up, @rpcme!

[2021-09-11 01:39] #138 closed

[2021-09-11 01:41] rpcme commented on #160
Hello @denix0 I have completed the merge.  I also did proper package splitting so if you encounter any issue with that and SDK/eSDK please let us know.

[2021-09-11 01:41] #160 closed

[2021-09-13 19:37] denix0 opened #171 "aws-crt-python_0.10.3 breakage in Dunfell"
| x86_64-poky-linux-gcc -m64 -march=core2 -mtune=core2 -msse3 -mfpmath=sse -fstack-protector-strong -D_FORTIFY_SOURCE=2 -Wformat -Wformat-security -Werror=format-security --sysroot=/OE/poky-dunfell/build/tmp/work/core2-64-poky-linux/aws-crt-python/0.10.3-r0/recipe-sysroot -Wno-unused-result -Wsign-compare -DNDEBUG -g -O3 -Wall -O2 -pipe -g -feliminate-unused-debug-types -fmacro-prefix-map=/OE/poky

[2021-09-13 19:48] rpcme commented on #137
Moving to be tracked internally for development.

[2021-09-13 19:48] #137 closed

[2021-09-13 19:49] rpcme commented on #171
@denix0  I'm on it.

[2021-09-13 20:02] denix0 commented on #171
Same issue on master:

| aarch64-poky-linux-gcc -mcpu=cortex-a57 -march=armv8-a+crc -fstack-protector-strong -O2 -D_FORTIFY_SOURCE=2 -Wformat -Wformat-security -Werror=format-security -Wdate-time --sysroot=/OE/poky-master/build/tmp/work/cortexa57-poky-linux/aws-crt-python/0.10.3-r0/recipe-sysroot -Wno-unused-result -Wsign-compare -DNDEBUG -g -O3 -Wall -O2 -pipe -g -feliminate-unused-debug-types -f

[2021-09-13 20:24] rpcme commented on #171
@denix0 I'm upgrading the recipes right now.  I did only C++ on Friday.  I just finished CRT and working on the device sdk right now.

[2021-09-13 20:31] rpcme commented on #171
@denix0 please check Dunfell.

[2021-09-13 20:34] rpcme commented on #171
@denix0 I have updated the mainline as well.

We currently have engineers working on CI hopefully these types of issues will cease in the future.

[2021-09-13 20:46] rpcme commented on #22
Transferred to internal tracking.

[2021-09-13 20:46] #22 closed

[2021-09-13 20:46] rpcme commented on #28
Transferred to internal tracking.

[2021-09-13 20:46] #28 closed

[2021-09-13 21:11] denix0 commented on #171
Thanks, the build now works, but there are other issues - I'll file separately.

[2021-09-13 21:11] #171 closed

[2021-09-13 21:42] denix0 opened #178 "Depend on custom BUILD_SHARED_LIBS, which is not defined"
1. cmake files are being packaged into ${PN}-dbg, but instead should be part of ${PN}-dev

2. each AWS cmake file has a condition on BUILD_SHARED_LIBS, which seems to be AWS-specific and is not defined by default in 3rd-party apps, hence falls back to static path, even though only shared variant is provided by AWS components by default:

if (BUILD_SHARED_LIBS)
    include(${CMAKE_CURRENT_LIST_DIR}

[2021-09-13 21:46] rpcme commented on #178
Hello @denix0 - I am going to put /2/ in a different issue so they can be tracked separately.

For /2/ I will bring in the CRT and SDK teams to evaluate.

[2021-09-13 21:46] rpcme opened #179 "cmake files are in the wrong package"
cmake files are being packaged into ${PN}-dbg, but instead should be part of ${PN}-dev

Originally submitted in #178

[2021-09-13 21:53] rpcme commented on #178
I think I need to document that the default is ON and implement a variable to override, but I need to coordinate this flexibility across all dependent recipes.  Can you let me know the temperature of this issue?  I will need to shuffle some things around if this is immediately breaking

[2021-09-13 21:59] denix0 commented on #178
@rpcme sounds good, thanks!

Maybe it would make sense to build and package both static and shared libs and then use a more AWS-specific variable (instead of a more generically-named BUILD_SHARED_LIBS) to select which one an app should use and link against...

If only one variant is provided, then you might want to replace BUILD_SHARED_LIBS in those cmake files with its value at the time AWS compo

[2021-09-14 07:41] gsalomao opened #180 "aws-c-s3_0.1.23 fails with ParseError"
The build using the latest commit on `hardknott` branch fails with `ParseError` due to `aws-c-s3_0.1.23`.

[code]

[2021-09-14 11:26] rpcme commented on #180
Hello @gsalomao  - I am unable to reproduce the error. I also ran `-c cleansstate` on the target just to make sure.  This is the first override in the file though.  Note that (this is my understanding) that the override syntax is available on hardknott but only after the change was made to the mainline (honister release).  Is it possible that your yocto tree isn't up to date?  Or are you stuck on

[2021-09-14 11:57] #179 closed

[2021-09-14 12:21] gsalomao commented on #180
@rpcme I have all layers on hardknott and I saw that the build fails everytime in a different recipe:
[code]

Running the `git bisect` I found the following commit that breaks my build:
[code]

[2021-09-14 13:09] rpcme commented on #180
Can you please give me your build configuration, i.e. What is output when you start the build, such as:

[code]

[2021-09-14 13:18] rpcme commented on #178
Hi @denix0 our SDK team pointed me to this cmake documentation.

https://cmake.org/cmake/help/git-stage/variable/BUILD_SHARED_LIBS.html

I am trying to figure out how we can clarify this to everyone.  I did note that it isn't called out in our documentation as a flag that needs to be used when choosing shared or static.  Do you think this would have helped?  Or is there something else that would h

[2021-09-20 14:33] givenand opened #186 "Error in Greengrass logs - Unable to set up Nucleus from build recipe file."
Hi All,

We are seeing this issue:

 2021-09-01T10:25:51.553Z [ERROR] (main) com.aws.greengrass.deployment.DeviceConfiguration: Unable to set up Nucleus from build recipe file. {}
    java.nio.file.DirectoryNotEmptyException: /data/greengrass/v2/alts/init/distro
        at java.base/sun.nio.fs.UnixFileSystemProvider.implDelete(UnixFileSystemProvider.java:247)
        at java.base/sun.nio.fs.Abstra

[2021-09-20 15:03] rpcme commented on #180
Hi @gsalomao looking forward to future communication on this issue so we can get it resolved to your satisfaction.

[2021-09-20 15:04] rpcme commented on #178
Hello @denix0 please let me know if you have any further thoughts / questions on this ok?

[2021-09-20 16:07] gsalomao commented on #180
Hi @rpcme, sorry for the long delay.

The output of the command:
[code]

Note that running it multiple times gives different errors.

[code]

It seems that the problem is with the poky 3.3.2 because once updated to 3.3.3, the build finished without error.
As the error seems not to be in the meta-aws, I think we can close this ticket.

[2021-09-21 09:58] rpcme commented on #180
@gsalomao YP added a new change to the override syntax and the recipes use the override syntax.  My first response noted this.  Thank you for the confirmation though. Will close the ticket.

[2021-09-21 09:58] #180 closed

[2021-09-21 09:59] rpcme commented on #159
Hi @MartinLoeper just checking in to see if you have had a chance to repro?  Would love to get this ticket closed :)

[2021-09-21 10:11] rpcme commented on #178
Hi @denix0 will be closing this for now.  Please re-open if this did not explain the SDK team's intent by using BUILD_SHARED_LIBS.  Would still like to get feedback on what you think would have made the realization more natural.

[2021-09-21 10:11] #178 closed

[2021-09-21 12:05] MartinLoeper commented on #159
Hi @rpcme, I'm back! Thanks for the mention.

I ran the aws-cli on our raspberrypi 4b and got the following result:
[code]

Second run:
[code]

You can reproduce the yocto image with the kas manifest in the following repo: https://github.com/MartinLoeper/meta-aws-issue-159/

I enabled the serial port via UART to connect to the device.

[2021-09-21 12:06] MartinLoeper commented on #159
I can also share the fully built sdimg file with you if you want to.

[2021-09-21 22:25] denix0 commented on #178
Hi @rpcme sorry for the delay - been really busy lately.

BUILD_SHARED_LIBS variable makes sense as a global variable for a project being built. So when you build one of the AWS components, it controls the output. The resulting AWS binary package at the end only has one variant of the library and since BUILD_SHARED_LIBS is set to On in AWS recipes, only shared library gets packaged.

So, first iss

[2021-09-21 22:49] rpcme commented on #178
@denix0 I am going to file this to the SDK team internally and come to a resolution on this.

[2021-09-21 23:54] denix0 commented on #178
BTW, another option would be to build and package both dynamic and static versions of each AWS SDK library. Then the condition on BUILD_SHARED_LIBS in the cmake files would make sense and it would be up to consuming user app to set it and select one or another.

[2021-09-23 02:00] K-AWS commented on #186
Hi Andrew,

Thanks for reporting the issue. We're trying to replicate and investigate the issue. Are you using Gatesgarth? Which version of GG are you using?

Thanks,

[2021-09-23 02:03] K-AWS commented on #163
Hi Richard,
Thanks for reporting the issue. We've opened a backlog item to add the recent Greengrass recipes to Hardknott.
Thanks,

[2021-10-12 08:00] ARaffalli-STM opened #224 "Why recipe for awscli is not in the dunfell branch ?"
Hi,
I am trying to use the meta-aws project to test AWS on STM32MP157. Our Yocto release is Dunfell and I cannot find the awscli*.bb recipe when I checkout "remotes/origin/dunfell".
What is the reason for this ? Can I just add the recipe manually?
Thanks,
Anna

[2021-10-12 10:57] ARaffalli-STM commented on #224
Hi Richard,
Thanks for your answer! Actually it may not block me since I figured it could be enough for me to use the awscli from my dev PC instead of the target (IoT Edge device).
Anna

[2021-10-16 12:01] rpcme opened #230 "aws-iot-device-client recipe does not have all flags for feature exclusion"
Missing:

[code]

[2021-10-16 12:02] rpcme commented on #230
related to https://github.com/awslabs/aws-iot-device-client/issues/180

[2021-10-29 18:51] nateglims commented on #224
It's on  dunfell-next now.

[2021-10-30 18:37] rpcme commented on #230
The resolution was pulled into mainline

[2021-10-30 18:37] #230 closed

[2021-11-03 12:44] gustavqmatic opened #234 "The Python IoT v2 SDK require a function that is deprecated and has been removed from .so file"
Current rev on master branch of meta-aws has these versions
aws-crt-python 0.12.1
aws-c-mqtt 0.7.6

aws-crt-python is set to use .so file versions of aws-c-mqtt (with patch fix-library-suffix.patch)

aws-crt-python in mqtt_client_connection.c calls function aws_mqtt_client_connection_reconnect (from aws-c-mqtt) but this function is deprecated and not exported to the .so file (see client.h in  aws-

[2021-11-04 00:12] rpcme commented on #234
Hello @gustavqmatic let us review what happened here and will report back or make fix.

[2021-11-04 16:49] graebm commented on #234
tldr; it's weird, but fine

The python function `awscrt.mqtt.Connection.reconnect()` is also marked [DEPRECATED](https://github.com/awslabs/aws-crt-python/blob/aa4511c1cea931c30051b2fe43be76f86b6a2ba2/awscrt/mqtt.py#L400). Users should not call it, but we exposed it early on, and so the function remains in the codebase for now.

The missing AWS_MQTT_API flag in aws-c-mqtt is weird, but it shouldn'

[2021-11-04 17:59] graebm commented on #234
Is this causing an issue?

[2021-11-04 19:17] manuel-wagesreither opened #242 "Request to publish your CodeBuild configuration"
Hi all,

I see you are building and testing this layer on AWS CodeBuild. As someone currently trying to set up cloud CI for his own Yocto project, it would be interested in seeing how you did it. Specifically if and how you are reusing your sstate cache and download directories. When the build is finished, do you push them to a S3 bucket which is made accessible via HTTP and set as `SSTATE_MIRRORS

[2021-11-04 19:53] RephaelCongmon commented on #234
The missing macro is added to [client.h](https://github.com/awslabs/aws-c-mqtt/blob/main/include/aws/mqtt/client.h).

[2021-11-05 02:11] rpcme commented on #234
@gustavqmatic to be clear, we are identifying the most friction free fix implementation for you.  Likely, we will patch the current version until we are prepared to move the version of the entire CRT because we must keep the versions contiguous.  @graebm thank you so much for your feedback - always appreciated!

[2021-11-05 02:14] rpcme commented on #242
@manuel-wagesreither I am happy to answer here until we start using Github discussions or another venue.

Currently, all our CodeBuild configurations are in the meta-aws-ci repository here.  https://github.com/aws/meta-aws-ci

There is also workshop content there to help you get started.  The more interesting section for you is in Module 2 since Module 1 is building manually through Cloud9.

[2021-11-05 02:19] rpcme commented on #242
Please feel free to continue to ask questions here and either me or team members will help you.

[2021-11-05 02:24] rpcme commented on #242
Also, regarding finished product propagation - yes, in the class I gave at Embedded World earlier this year I showed this.  The pathway does differ between distros.  However, you will see how simple it is to do with CodeBuild.

[2021-11-05 02:40] rpcme commented on #159
@MartinLoeper I am asking for help from experts maintaining meta-python. While I can't promise a fast solution, I just wanted to let you know I am looking for more avenues to help.

[2021-11-05 02:41] rpcme commented on #163
Hello @K-AWS any update?

[2021-11-05 02:41] rpcme commented on #186
Hello @givenand can you please take a moment to get back to @K-AWS ?  Thank you.

[2021-11-05 07:58] gustavqmatic commented on #234
We are happy with the above fix, thank you for the quick response.

Just a final question, what is the reason behind patch https://github.com/aws/meta-aws/blob/master/recipes-sdk/aws-crt-python/files/fix-library-suffix.patch? My understanding is that this change it from static linking to shared and seems to cause this problem when using meta-aws but not when everything is built into one _awscrt.so

[2021-11-05 14:34] MartinLoeper commented on #159
Thanks @rpcme! This issue is currently not as urgent because I could try a workaround using SDKs I guess. Nonetheless, great you are so supportive! Really appreciating it!

[2021-11-05 16:22] rarengifoArthrex opened #247 "Request to create honister branch as it was released a couple of weeks back"
Create honister branch and continue having master branch as well.

[2021-11-05 16:55] nateglims commented on #247
Hi @rarengifoArthrex thanks for taking notice. We will be creating the new release branch shortly.

[2021-11-05 22:56] manuel-wagesreither commented on #242
Thank you a lot! I will consume the material you mentioned and will give notice in case I need some advice. Much appreciated.

Shall I close this issue or leave it open? Would you prefer questions here or shall I raise them with individual tickets?

[2021-11-06 15:02] rpcme commented on #159
This is really great news @MartinLoeper.  I will keep it open until resolved because ... well ... I want to use it on workstation class distribution on RISC-V - but can't exactly do that if it takes 4-8 seconds to invoke every command :D

[2021-11-06 15:22] rpcme commented on #242
Hi @manuel-wagesreither please feel free to open another ticket as challenges arise. If it relates to content in meta-aws-ci feel free to open tickets there.  Hopefully in the very near future we will have a discussion board.

[2021-11-06 15:22] #242 closed

[2021-11-06 23:45] MartinLoeper commented on #159
Understandable! Hope someone has a clue what is going wrong there.

[2021-11-07 13:16] rpcme commented on #247
@rarengifoArthrex This will happen 11/8/2021. Thank you for bringing this up.

[2021-11-08 17:28] nateglims commented on #247
The `honister` branch and it's staging branch, `honister-next` have been created.

[2021-11-08 17:28] #247 closed

[2021-11-08 17:29] nateglims commented on #224
It has since been merged into dunfell.

[2021-11-08 17:29] #224 closed

[2021-11-15 16:40] GonzalezSGA opened #261 "No files of aws-c-common are packaged for native SDK"
Working branch: Dunfell.
I want to include aws-crt-cpp in my image, and also have the libraries in the native SDK in order to develop and run test in the host.
I do generate correctly the image with aws-crt-cpp adding:
`IMAGE_INSTALL_append = " aws-crt-cpp"` to my image recipe.
Then I added:
`TOOLCHAIN_HOST_TASK_append = " nativesdk-aws-crt-cpp"` to my image recipe and executed:
`bitbake <image_na

[2021-11-16 02:47] RX1208 commented on #69
@rpcme
excuse me,
Because I don’t speak English, I use Google Translate now.
Please allow me to describe my problem
I am also using AWS IoT Greengrass to deploy lambda
but  Worker is ungracefully killed
Is there any relevant help documentation?
Below is my log

[2021-11-15T16:44:37.669-10:00][INFO]-Created worker.   {"functionArn": "arn:aws:lambda:ap-northeast-1:291538252294:function:test1:2", "wo

[2021-11-17 15:50] GonzalezSGA commented on #261
Ok, I think that I have found what the problem is, the recipe is forcing the install prefix to `/usr` while the native SDK is installed in the default SDK path `/opt/dey/...`.
I have fixed it by:
1. setting the CMAKE_PREFIX_PATH variable to `$D${prefix}`, during the configure phase which sets the correct path depending on the package type (target or nativesdk).
2. Changing the library names from l

[2021-11-21 11:30] WolfWalter commented on #234
Also ran into this yesterday when adding `aws-iot-device-sdk-python-v2` to my image and trying to run the [sample](https://github.com/aws/aws-iot-device-sdk-python-v2/blob/main/samples/pubsub.py). The error was `undefined symbol: aws_mqtt_client_connection_reconnect`. But also a pyhton script with only `from awsiot import mqtt_connection_builder` lead to the same error.

My image is for a raspi 4

[2021-11-24 11:47] qraleq opened #262 "Support for AWS KVS in meta-aws"
Hi, I'm interested in whether there's a timeline for AWS KVS support in meta-aws?

[2021-11-27 09:13] WolfWalter opened #265 "missing runtime dependencies for aws-iot-device-sdk-python-v2"
After building a honister based raspberry pi image with `aws-iot-device-sdk-python-v2` there where no `awscrt` files in my rootfs. When building hardknot there was a `build/tmp/work/raspberrypi4_64-poky-linux/solvispi-image/1.0-r0/rootfs/usr/lib/python3.9/site-packages/awscrt` folder that is now missing. Could it be that the line `RDEPENDS_${PN} += "python3 aws-crt-python"` in the recipe shoulb de

[2021-11-29 18:33] hancin commented on #186
The greengrass Yocto recipe expects you to configure greengrass manually (more information can be obtained [in the manual installation documentation](https://docs.aws.amazon.com/greengrass/v2/developerguide/manual-installation.html) instead of using easy setup. Easy Setup will show this error because the folder structure it creates is already present but not the configuration.

The greengrass-bin-

[2021-11-30 16:02] greencustard opened #266 "Dunfell Corretto recipe contains incorrect ARM checksums."
While building Greengrass v2 I hit a problem with the arm.md5sum and arm.sha256sum for the following Corretto recipe:

meta-aws/recipes-devtools/amazon-corretto/corretto-11-bin_11.0.12.7.1.bb

This is the file being fetched:
https://corretto.aws/downloads/resources/11.0.12.7.1/amazon-corretto-11.0.12.7.1-linux-armv7.tar.gz;name=arm

These are the current (incorrect checksums) in the above recipe:

[2021-11-30 20:49] hancin commented on #266
it appears the corrections were done in #250 in master branch. can that change be applied to other release branches?

[2021-12-01 00:51] nateglims commented on #266
The checksum should be fixed on `dunfell-next` I am preparing a release into dunfell. It should be merged some time tomorrow.

[2021-12-01 17:25] sgreen-GC opened #269 "Dunfell Greengrass v2 2.4.0 runtime failure during Greengrass deployments"
Hi, we are attempting to build greengrass V2 into the latest openstlinux distribution but we're having an issue when deploying greengrass components to the running build.

The image builds fine, greengrass is installed, and when the image is booted, it starts up without any problems and greengrass starts up and runs (as a systemd service).

However, whenever any GG component deployment runs, the d

[2021-12-01 18:50] aduskett commented on #262
Hello, while I can't directly answer that question, if you are willing to use buildroot I have a buildroot version of meta-aws that includes the kvs packages found here: https://github.com/aduskett/buildroot-aws-iot/

Might be worth a look!

Adam

[2021-12-01 22:45] hancin commented on #269
It seems like our greengrass images call `ln -r` to create a relative symlink while [nucleus assume it to be an absolute path](https://github.com/aws-greengrass/aws-greengrass-nucleus/blob/f14442c90d944dfc6d5288f9de8ba842b37acc27/src/main/java/com/aws/greengrass/lifecyclemanager/KernelAlternatives.java#L316) (as seen in #110)

To workaround you can recreate the symlink `/greengrass/v2/alts/current

[2021-12-02 00:43] nateglims commented on #266
This should now be resolved on `dunfell`

[2021-12-02 00:45] nateglims commented on #262
Hi Ivan, We do not have a timeline for KVS support right now. If you're able to discuss what you are trying to do, we might be able to help you though.

[2021-12-02 00:55] nateglims commented on #265
It appears you are correct. We will fix this in #273

[2021-12-02 07:58] qraleq commented on #262
Hi, thank you both for your answers.

We're trying to build AWS KVS and AWS IoT Greengrass on IP cameras running Yocto (for example AXIS CCTV cameras).

@aduskett I'll take a look into `buildroot-aws-iot`, and it would be great if we could connect to see if you can help us to achieve our goal.

Thank you!

[2021-12-02 16:01] sgreen-GC commented on #269
Great thanks! That's fixed the issue with deployments.
We're now getting a previously unseen error with our own component (compared to a manual GG install) but obviously that's for us to investigate!

[2021-12-02 19:32] WolfWalter commented on #133
I am stuck at the same problem with a raspi 4 honister image.

[code]

[2021-12-02 20:42] WolfWalter commented on #265
Ok. Great. But I think there are more recipes that are affected:
https://github.com/aws/meta-aws/search?q=RDEPENDS_%24%7BPN%7D

[2021-12-02 22:18] #266 closed

[2021-12-02 22:18] nateglims commented on #265
Good catch. I've updated the PR.

[2021-12-03 19:33] nateglims commented on #261
Thanks for the issue, I will take a look. Is this using the Digi Embedded Yocto distribution?

[2021-12-04 12:26] WolfWalter commented on #133
Anything I could do to track down the issue @rpcme?

[2021-12-05 15:18] rpcme commented on #133
Hi @WolfWalter sorry about the delay.  I was at re:Invent and wasn't checking messages, and this issue is Closed so I only saw this when checking email.  I will reopen and see if we can repro.  @RephaelCongmon

[2021-12-06 22:06] rpcme commented on #262
@qraleq Thank you for asking about KVS support.  I'm reaching out to folks internally to see how we can bridge support for it sooner rather than later.

[2021-12-08 18:52] RephaelCongmon commented on #133
Hello @WolfWalter , may I ask you to share your local.conf that you used to build the image (don't include any confidential information)? It can help us reproduce the issue faster.

[2021-12-09 09:10] WolfWalter commented on #133
Hi @RephaelCongmon,
my local.conf:
[code]

I am using kas to build the image. Currently the is nothing confidential in my setup. Just exploring aws iot for raspberry pi with yocto . So if it helps I could clean it up and share a repo to repoduce the issue.

[2021-12-10 05:59] Praveenaboyapally opened #276 "Greengrassv2 for Thud version"
Hi,
There is no greengrass v2 for thud version, As yocto project supports only thud version we need to build a greengrass v2 in our embedded device. Please provide the required support for Greengrass version2 recipe in meta-aws thud version.

Thanks.

[2021-12-10 20:50] RephaelCongmon commented on #133
Hello @WolfWalter ,
I was not able to reproduce the issue outside of kas. The next step for me to try to repro is to copy your exact configuration and build with kas and then see if I can repro. When you run a yocto build, can you please share with me the exact hashes for your configuration?

One clarifying question: are you using kas just to build and you're running it on your Raspberry Pi 4?

Al

[2021-12-11 12:07] WolfWalter commented on #133
Hi @RephaelCongmon,
here is the [repo](https://github.com/WolfWalter/meta-aws-platform-bsp). Just playing around there. Nothing serious yet. Yes I am using a raspberry pi 4.

Here ist the output of `kas for-all-repos description.yml 'git status'` on my machine:

[code]

[2021-12-14 10:20] gsalomao commented on #36
@rpcme Could you please update the current status of this recipe? If you have not started it, I can create the recipe and submit the PR.

[2021-12-15 20:07] RephaelCongmon commented on #133
Hi @WolfWalter , writing this to let you know I'm still working on reproducing this. Just to clarify, are you building the image on the Pi itself using kas and then running the bash scripts to prepare the SD card on the Pi itself as well?

[2021-12-15 20:17] WolfWalter commented on #133
Hi @RephaelCongmon ,
no, I am building and preparing the SD card on a Ubuntu 20.04 Intel machine.

[2021-12-16 18:33] qraleq commented on #262
Hi @rpcme, do you have any update on this?

[2021-12-21 15:44] jcheng2021 opened #281 "Dunfell Greengrass v2 2.4.0 runtime failure during Greengrass deployments on raspberrypi 64bit"
I built a image with meta-aws with rpi64. the greengrass Nucleus was launched successfully. I tried to deploy a simple hello-world docker container, the deployment failed due to following error.

2021-12-21T15:24:45.730Z [INFO] (pool-2-thread-15) com.aws.greengrass.componentmanager.ComponentManager: No running component satisfies the requirement. Searching in the local component store.. {}
2021-12

[2021-12-27 23:54] t0ny-peng opened #282 "Is there any AMI ready to run Yocto linux on AWS?"
Hi there,

We are trying to move some of the local test farm to AWS, and we would like to run Yocto Linux on AWS. The only tutorial I found on line is [Getting Started with Cloud-Native Automotive Software Development](https://catalog.us-east-1.prod.workshops.aws/v2/workshops/12f31c93-5926-4477-996c-d47f4524905d/en-US/20-container-build-pipeline), however it only has AMI for `us-east-1`. There's a

[2022-01-12 16:09] rpcme commented on #281
Hello @jcheng2021 sorry for the late response, can you please give us the repo branches and hashes you're using? This is displayed at the start of the yocto build. Also, providing local.conf will be useful.  For us, it's working, but that doesn't mean that there could be issue under specific configurations.

[2022-01-12 16:11] rpcme commented on #276
Hello @Praveenaboyapally , we are currently in **breakfix** mode for Thud.  In such case, only recipes on that branch are maintained and no new recipes are targeted by us.  Also remember that GGv2 is Armv8 or Intel64.  If you have the hardware use case where it meets the condition, we will consider a community contribution for the recipe.

[2022-01-12 16:13] rpcme commented on #269
Hello @sgreen-GC , closing this issue.  Although closed, I would love to hear how you got along in the integration.

[2022-01-12 16:14] rpcme commented on #262
Hello @qraleq we are currently scoping this.  Please stay tuned. I would also love to hear the urgency.  If this is blocking you, this will lift the priority and we might be able to shift resources to accomodate.

[2022-01-12 16:19] qraleq commented on #262
Hi @rpcme,

At the moment we're using NVIDIA edge devices in combination with AXIS cameras to stream and analyze the CCTV streams. Unfortunately, with the global chip shortage, NVIDIA devices are impossible to get and we're considering moving the streaming service directly to the camera. That's where `meta-aws` might be really helpful to support KVS on the cameras themselves.

So, this is pretty h

[2022-01-12 17:22] rpcme commented on #262
@qraleq I would like one more clarification/scope question:  You are asking for KVS SDK for Data Streams and you would also like Yocto SDK support for cross compile environment?  Want to ensure we have the requirements right so what is delivered meets / exceeds your expectations.

[2022-01-12 21:22] jcheng2021 commented on #281
Thanks for contacting me.
the repo branch I'm using is dunfell.

Here are the conf snipplet:
AWS_IOT_GG = "greengrass-bin                         \
              greengrass-bin-demo                    \
              ntp                                    \
              python3-awscli                         \
              docker                                 \
              python3-docker-com

[2022-01-12 22:57] rpcme commented on #261
Hello @GonzalezSGA could you kindly let us know @nateglims query? We want to ensure we're looking at this from the right working set.

[2022-01-13 08:42] qraleq commented on #262
Hi @rpcme, we're interested in AWS Kinesis Video Streams Producer SDK, and it would be great to have support for cross-compile using Yocto SDK.

[2022-01-13 08:56] t0ny-peng commented on #282
@rpcme Thanks for the reply. Yes we do have out local `meta-` layer but as an appetizer I just want to build the vanilla Yocto image and deploy it on AWS. Will also include the `meta-aws` layer. Any recommended tutorial?

Thanks

[2022-01-13 13:34] sgreen-GC commented on #269
That's all good, thanks for the help everyone!
We've sidestepped using the greengrass-bin recipe for now for various reasons, but we're making good progress with a manually installed version on the same hardware. Our application seems to be working well in normal working conditions so we're now pushing at some kind of hardware/software limit with stress tests (The Nucleus Telemetry Emitter compone

[2022-01-13 16:00] rpcme commented on #262
@qraleq perfectly understand and sorry for the data streams confusion, I have for another reason kinesis data streams on my mind :D

[2022-01-14 06:04] uyrusali opened #288 "Greengrassd : failed to initialize with reason Address already in use"
## Greengrassd : failed to initialize with reason Address already in use

Greengrass Daemon starts with this error, also get the same when trying to deploy the group. ```runtime.log:```

[code]

Checked the processes using this port and tried to kill as suggested in this (link)[https://www.intel.com/content/www/us/en/developer/articles/technical/aws-cloud-to-edge-pipeline.html] by:
[code]
But it h

[2022-01-15 18:37] rpcme commented on #262
Hello @qraleq I have started the recipe development. There are many things in the upstream cmake that's not "Yocto ready" so it will take some time to complete - perhaps another week but I'll try to bring it in.

Which language are you targeting? This is the status:

1/ PIC (completed, not yet in master-next)
2/ C (in progress, depends on PIC)
3/ C++ (in progress, depends on C)
4/ Java - I plan to

[2022-01-15 18:39] rpcme commented on #288
Hello @uyrusali Can you please provide the bitbake output at the beginning of the build that includes all the repos and their associated hashes, as well as local.conf?  Although it's extremely unlikely the problem has anything to do with that, I want to ensure we're working from the same starting point.

[2022-01-15 18:42] rpcme commented on #282
For building AMI, the meta-aws project doesn't yet provide anything. However, there are tutorials for various device targets for meta-aws (mostly greengrass) in the meta-aws-demos and meta-aws-ci repos.

Please feel free to reach out directly to me on LinkedIn and will be able to carry on the convo from there?
https://www.linkedin.com/in/richardelberger/

I will resolve this issue for now since we

[2022-01-15 18:42] #282 closed

[2022-01-15 18:43] rpcme commented on #276
Reolving.

[2022-01-15 18:43] #276 closed

[2022-01-15 18:44] rpcme commented on #265
@nateglims has this issue been resolved and pulled into the appropriate release branches yet?

[2022-01-15 18:45] rpcme commented on #261
Hello @GonzalezSGA please reopen this issue if it persists. I assume that it is resolved.

[2022-01-15 18:45] #261 closed

[2022-01-15 18:46] rpcme commented on #163
Hello @K-AWS any update?

[2022-01-15 18:51] qraleq commented on #262
Hi @rpcme, we would be interested in C and C++. Thank you so much for your help.

[2022-01-15 20:20] rpcme commented on #262
Hi @qraleq I completed C but have a hard stop in about 30 minutes.  You might be aware it is public holiday in US on Monday so I will likely not have anyone to do CR on Monday. In such case, you will have at least C by COB Tuesday.

[2022-01-15 20:51] rpcme commented on #186
Closing this issue based on lack of activity.

[2022-01-15 20:54] rpcme commented on #265
This issue should be fixed by this commit here https://github.com/aws/meta-aws/commit/10bfe0479a32efbd25e7eedd67f522b0a4c87db7

Please let us know if the issue persists @WolfWalter - actually, the fix was made some time ago but we neglected to get back to you via this issue. I am sorry for that.

[2022-01-15 20:54] #265 closed

[2022-01-16 11:19] rpcme commented on #262
Hello @qraleq I have "completed" the initial work on the recipes and done a PR. In the meantime, you can try from my fork if you desire.

https://github.com/rpcme/meta-aws/tree/master/recipes-sdk/amazon-kvs-producer-sdk

I have not yet runtime verified but will at least make sure over the next couple hours that all runtime dependencies are in place, I need to build an image for that, and then afte

[2022-01-16 11:32] rpcme commented on #262
Ok it looks decen
![Screenshot from 2022-01-16 06-31-18](https://user-images.githubusercontent.com/2113279/149658107-3fff43d5-9b88-4d17-b0dc-8095d5aacf55.png)
t

[2022-01-20 09:33] rpcme commented on #262
Hello @qraleq this work was put on master-next and should be put onto master branch today (PR is in progress). Closing this request.

[2022-01-20 09:33] #262 closed

[2022-01-20 09:34] rpcme commented on #234
This issue seems resolved, please reopen if not.

[2022-01-20 09:34] #234 closed

[2022-01-20 09:36] rpcme commented on #288
Closing due to no response, please reopen if still an issue.

[2022-01-20 09:36] #288 closed

[2022-01-20 09:38] rpcme commented on #281
Let me notify internal team to assist.

[2022-01-20 12:07] mangelino commented on #281
HI, can you share the deployment configuration you are using?
IoT Console > Greengrass (menu) > Deployments (menu) > your deployment (link) > IoT Job (link) > Job Document (tab)

[2022-01-20 14:06] MikeDombo commented on #281
The error is a http 403 which means access denied. Therefore, your greengrass device is missing the proper permissions in the IoT policy. Please verify the IoT policy. See https://docs.aws.amazon.com/greengrass/v2/developerguide/device-auth.html#greengrass-core-minimal-iot-policy

[2022-01-20 19:29] jcheng2021 commented on #281
I can't find the IoT Job and Job Document any where

[2022-01-21 11:42] rpcme commented on #281
@jcheng2021 can you please verify permissions as @MikeDombo suggests?  Mike is one of our senior Greengrass engineers on the service team - I hope his intuition here helps.

[2022-01-25 12:02] rpcme commented on #133
@WolfWalter were you able to overcome this issue? We were not able to reproduce it, I am not sure where there is a disconnect. It could be related to another recently fixed item?

[2022-01-29 17:25] rpcme commented on #281
Assuming this issue is resolved.

[2022-01-29 17:25] #281 closed

[2022-02-08 16:52] rpcme commented on #159
@MartinLoeper

I have not forgotten this issue. The next step will be to file a YP bugzilla bug after narrowing the slow module load problem. After running cProfile I noted that module load times are excessive. When invoking python3 -X dev /usr/bin/aws and see the following output but I can't find any information related to _SixMetaPathImporter.

[code]

[2022-02-14 19:26] nateglims opened #301 "Explore Packaging Options for the C++ AWS SDK"
See conversation in #296

[2022-02-23 10:48] mlasch opened #305 "Updating to aws-iot-device-sdk-python-v2_1.7.0 implicitly includes python3-modules"
The update from `aws-iot-device-sdk-python-v2_1.5.4` to `aws-iot-device-sdk-python-v2_1.7.0` includes `python3-modules` into the build. I can't have the whole Python3 distribution in my image, because it simply won't fit. There seems to be some Yocto magic happen in the background including `python3-modules` since the dependencies did not change.

- I'm on Yocto 3.1.14 and I'm using the latest `du

[2022-03-04 14:47] rpcme commented on #305
@mlasch thank you for the notification, I apologize for the response delay. Will look at getting this sorted today.

[2022-03-10 15:18] ajlennon commented on #73
Is this available anywhere?

[2022-03-16 07:37] mlasch commented on #305
@rpcme thanks for looking into the issue. It looks like there are two options:
1. All recipes which depend on Python3 should use explicitly `python3-core` + the relevant modules from the Python std. library. This would greatly help building constraint devices with limited flash, also would reduce the image size for everybody.
2. Keep `python3` as a dependency as it is now, but then everybody who u

[2022-03-16 08:59] mlasch opened #313 "Request to backport `device sdk: remove tag from SRC_URI to release branches`"
In order to build an image which includes `aws-c-cal` changes from commit c6624193311f6cf191b2876e0828946005455c1d would be needed on Dunfell. Can we backport commit c6624193311f6cf191b2876e0828946005455c1d to earlier, still supported, releases e.g. `dunfell`?
I'm on Yocto 3.1.14 and when building with the `archiver` class the current `dunfell-next` branch fails:
[code]
However, there is one cavea

[2022-03-18 12:55] rpcme commented on #313
@mlasch Thank you for your report - will discuss with @nateglims today.

[2022-03-24 14:59] K-AWS commented on #163
Closing request since PR was merged.

[2022-03-25 11:46] bilalmalik76 opened #315 "Incompatible layer Error with Yocto Rocko"
I am trying to integrate meta-aws layer with Yocto project which is based on Rocko branch. I am getting an error of incompatible with core layer. There is no branch for rocko in meta-aws. is it possible to use meta-aws with Yocto based on Rocko branch:

[code]

[2022-04-01 19:04] elockman opened #316 "'aws-c-iot' is unbuildable - dunfell"
Yocto is no longer building aws-c-iot, with the following error:

[code]
aws-c-iot is added with **CORE_IMAGE_EXTRA_INSTALL += "aws-c-iot"**

This is on the **dunfell** branch

Is this failing due to the **git://github** URI [here](https://github.com/aws/meta-aws/blob/fd9c90772d8c11e7a589adf992a37dfcbd4ec90b/recipes-sdk/aws-c-iot/aws-c-iot_0.0.7.bb#L15)?  I've changed URI's to **https://github** i

[2022-04-02 11:54] bilalmalik76 commented on #315
Hi, @rpcme I am using MSM8909 from Qualcomm. I ported the master branch to Rocko and able to build it with Yocto Rocko version.

[2022-04-13 17:11] jwinarske opened #319 "commit squashing"
Any reason why my contribution commits for (rust recipes) were squashed?  It no longer lists me as a contributor.

[2022-04-15 21:41] jwinarske opened #323 "rust-layer recipes"
Rust support is present in more recent releases of oe-core.

The dynamic layer rust-layer recipes should only happen in cases where oe-core rust support is not present.  Normal recipes where oe-core directly supports Rust.

[2022-04-15 21:45] jwinarske commented on #323
In addition rust is included in newer oe-core, so using the dynamic layer in newer branches will present a problem.  Another reason for having a yocto release to branch strategy.

[2022-04-20 18:11] elockman commented on #316
When trying a bbappend, the original recipes are not found?

[code]

[2022-04-20 19:04] elockman commented on #316
changing github repository didn't help either
[code]

[2022-04-20 22:19] elockman commented on #316
To make this work, I had to add all aws .bb recipes to my build.
I'm still unsure why CORE_IMAGE_EXTRA_INSTALL no longer works.

[2022-04-22 07:48] rpcme commented on #316
Wow I don't know how I totally missed this, well I have been traveling heavy the last few weeks.

Let me see if Thomas can take a look.

[2022-04-22 07:53] #163 closed

[2022-04-22 07:55] rpcme commented on #315
Okay this seems ok now. If you would like to contribute the Rocko port (just do PR to rocko release branch) we will review it.

[2022-04-22 07:55] #315 closed

[2022-04-22 07:56] rpcme commented on #313
@thomas-roos could you look at this one as well please?

[2022-04-22 11:11] thomas-roos commented on #316
@elockman tried to reproduce this error and did not succeed - may you try this simple steps if they work compare them with your yocto build environment:
[code]
```runqemu```
check if libs /usr/lib/libaws* are exsisting

[2022-05-09 07:53] thomas-roos commented on #313
Hi, commit is backported to dunfell: https://github.com/aws4embeddedlinux/meta-aws/commit/1d926e9408434590b4d406acb8809ced558bd944
I hope this solves this issue.

[2022-05-09 07:53] #313 closed

[2022-05-09 08:09] thomas-roos commented on #305
Hi, now `python3-core` is used instead of python3 where possible.
https://github.com/aws4embeddedlinux/meta-aws/commit/de60da566a16b1af8d585ff7d4d48290169d8f46

[2022-05-09 08:09] #305 closed

[2022-05-09 20:09] mlasch commented on #305
Thanks a lot for your upstream fix, we can now remove our workarounds.

[2022-05-12 16:38] nateglims commented on #319
I do not know where it got lost, however I almost certainly personally made the change and I'd like to apologize.

I have removed the ability to squash in the github interface and rewritten our release process to use FF-only merges to prevent this and other issues.

We will be publishing our release process changes for transparency in the near future.

[2022-05-12 16:38] #319 closed

[2022-05-16 15:26] elockman commented on #316
Thank you! This resolved the issue.  It may have been due to cloning **aws4embeddedlinux** instead of **aws**.

[2022-05-16 15:26] #316 closed

[2022-05-16 16:03] elockman opened #334 "Mesh not supported"
I am building a linux image with yocto for the SAMA5D2-XULT board.
I am trying to assign mesh type to an RT5370 USB wifi device.
This worked in the past, but mesh is no longer supported for some reason.

[code]
**iw list** yields:
[code]
I suspect my mesh config is not being applied properly with the new Linux-mchp version.

I am building with  linux-mchp_5.10.80

my  linux-mchp_5.10.80.bbappend f

[2022-05-16 22:52] elockman commented on #334
Additional info:
I am using RT5370 USB WiFi module with rt2800usb driver.

Unplugging and plugging in the module, shows that Linux is recognizing the module
[code]
 I've also removed it with rmmod and reinstalled with modprobe
rmmod rt2800usb
modprobe rt2800usb nohwcrypt=0

lsmod shows the driver is installed.
[code]

[2022-05-17 06:23] thomas-roos commented on #316
Glad I could help you!

[2022-05-17 13:31] elockman commented on #334
Issue was meant to be posted in [meta-atmel](https://github.com/linux4sam/meta-atmel/issues/223)

[2022-05-17 15:32] perezmeyer opened #335 "aws-iot-device-client fails with "invalid pointer""
I have build the hardknott version on a VAR-DART-MX8M-PLUS board. Build was straightforward, but after configuring /etc/aws-iot-device-client.json and trying to run the app I get:

[code]
Is there anything I can do in order to debug this further?

[2022-05-20 17:49] thomas-roos commented on #335
Hi, we are currently try to reproduce and fix this error. Do you have a special aws-iot-device-client.json or is it the default one?

[2022-05-20 17:55] perezmeyer commented on #335
Hi Thomas! I had to create it by hand using the parameters specified by mi IT colleague.

Here is an anonymized copy:

[code]

[2022-05-20 21:55] perezmeyer commented on #335
Maybe worth to mention: I tried to debug it but the packaging does not creates a suitable -dbg package. Well the package is there but literally empty (no, there are no hidden files).

[2022-05-27 09:27] thomas-roos commented on #335
Could investigate on your problem in master and hardknott - both are working for me (after having same issues) if you:
- go to AWS IoT website
 download package and take the files to /etc/aws-iot-device-client/
- download root ca
` curl https://www.amazontrust.com/repository/AmazonRootCA1.pem > root-CA.crt` as well
- Thing name is in start.sh
- **IMPORTANT**: go to THINGS select Certificate edit p

[2022-05-27 09:27] #335 closed

[2022-05-27 09:28] thomas-roos commented on #335
please reopen if this will not fix your problem

[2022-05-27 13:38] perezmeyer commented on #335
Thanks, I'll try ASAP.

[2022-06-03 07:06] thomas-roos commented on #335
Hi, great to hear that things are improved. But as I'm not an expert for `aws-iot-device-client` I would friendly ask you to open a bug/discussion at their github page **https://github.com/awslabs/aws-iot-device-client**
The only thing that might help is the correct setting of this - but I guess you did that.
`IMPORTANT: go to THINGS select Certificate edit policy - for testing * * should be ok ot

[2022-06-03 12:30] perezmeyer commented on #335
Thanks a lot for your help!

[2022-06-23 21:51] MartinLoeper opened #361 "Dunfell branch does not build due to new override syntax being used"
Hi!
I am not sure whether I misunderstand something about the Yocto versioning here...

It seems like it is not possible to build the dunfell branch starting from the following commit:
https://github.com/aws4embeddedlinux/meta-aws/commit/6d4bd338b7fa2c535f84c1be1efbc841fe64fd25

It is because some recipes contain [overrides with the new syntax](https://docs.yoctoproject.org/migration-guides/migrat

[2022-06-26 12:55] rpcme commented on #361
depends on the version on Dunfell you're using. After last August, Dunfell was made to use both old and new syntax. Also when doing so ensure to change the local.conf setting for conf version to 2.

[2022-06-26 13:59] MartinLoeper commented on #361
Thanks for the info @rpcme. I knew I was missing something! Will update our dunfell version! Thanks!!

[2022-06-26 13:59] #361 closed

[2022-07-04 19:34] dimonic opened #372 "corretto-17-bin fails in do_install"
Adding corretto-17-bin to local.conf results in:

[code]
corretto-11-bin works. This is on kirkstone branch.

[2022-07-04 19:55] dimonic opened #373 "Cannot build image with jsmn."
In kirkstone branch, jsmn will build a .deb package, but do_install puts nothing under images, and so fails for core-image-base during do_rootfs.

[2022-07-06 08:52] thomas-roos commented on #372
Hi,
coretto-17-bin is not available for arch arm - only aarch64
https://github.com/corretto/corretto-17/releases
coretto-11 is available for arm:
https://github.com/corretto/corretto-11/releases

[2022-07-06 08:52] #372 closed

[2022-07-06 10:07] thomas-roos commented on #373
Hi,
jsmn should be only used to build amazon-kvs-producer-sdk* (DEPENDS).
Do you want to use it in a different context?

[2022-07-07 11:36] thomas-roos commented on #159
I think it's a botocore problem, as mentioned here: https://github.com/boto/botocore/issues/2553

[2022-07-07 22:43] #323 closed

[2022-07-07 22:44] #301 closed

[2022-07-11 18:59] MartinLoeper opened #411 "Question: Why does Corretto rdepend on X11?"
I am currently building greengrass-bin on kirkstone and it complains that distro feature X11 is disabled.
I checked and confirmed we do not need X11 at all for our distro.

I also confirmed that X11 is needed by corretto since https://github.com/aws4embeddedlinux/meta-aws/commit/8fd10095751b56647105e4c9a0074845785cb2af. Is there any chance to work around this runtime dependency? It feels like a re

[2022-07-12 12:59] thomas-roos commented on #411
Hi, did spend some time on investigation, but don't have a full nice solution yet - some of this must also be discussed internally.
The root cause of this problem is that when you build your image with `PACKAGE_CLASSES ?= "package_rpm"`, which is the default, then the `dnf` tool which is used in the image creation phase will throw an error message.
[code]
This is because the corretto-*-bin package

[2022-07-12 13:10] anamod opened #420 "Zeus Branch"
Hi!
English is not my first language and I was wondering what it means "Breakingfix only" near the Zeus release branch.
Cause I tried to add meta-aws in a recipes in my yocto (Vs Zeus 2.3) and it says:

[2022-07-12 15:49] rpcme commented on #420
Hello, did you check out the zeus branch after cloning? LAYER_COMPAT on zeus branch is zeus, and you should only receive this error if LAYER_COMPAT is kirkstone - which could mean that zeus branch is not checked out and you're still on mainline.

[2022-07-13 06:11] anamod commented on #420
@rpcme I checked the LAYER_COMPAT, and it's actually kirkstone (as u said). But what can I do to made it compatible w/ Zeus.

I dont get how I can resolve this (sorry but I'm totally new to this stuff and it's pretty confusing)

[2022-07-13 06:33] thomas-roos commented on #420
Hi,
no problem - just do an `git checkout zeus` in the meta-aws folder.
Zeus is already [end of life](https://wiki.yoctoproject.org/wiki/Releases) - so we recommend using a more recent version like kirkstone. This is also the reason for "breakfix only".
Basically this is all you need to start building:
[code]
strongly recommending start reading manuals here:  https://docs.yoctoproject.org/overview

[2022-07-13 06:49] anamod commented on #420
I read only that Zeus is EOL but unfortunately I have to use it; it's for work and we are using hardware that only support Zeus 2.3

[2022-07-13 19:35] MartinLoeper commented on #411
I see. Thanks for looking into it and confirming @thomas-roos!

I enabled X11 distro feature and it works now.
However, it almost doubled our rootfs size. This is definitely a workaround :(

[2022-07-14 07:17] thomas-roos commented on #420
Just let us know if you get stuck - we are here to help you!

[2022-07-14 07:17] #420 closed

[2022-07-14 19:55] monishkapadia opened #426 "Fatal Error while running pubsub.py"
Hi,

I'm trying to run the `pubsub.py` demo from sdk-python-v2 (1.7.0) on my kirkstone yocto build but I'm facing with this error:

[code]

[2022-07-15 10:42] thomas-roos commented on #411
good news - I think I found a good solution for now: https://github.com/aws4embeddedlinux/meta-aws/commit/2ca105f6f4adb4e5fbe02db6908f6d33d958062a
please try (make modifications manually) and give feedback.
Will take some time till it's in kirkstone branch, but knowing it's a working solution it might speed up the process.

[2022-07-15 11:35] thomas-roos commented on #373
Since jsmn is integrated with amazon-kvs* recipes we decided to delete separate recipe.
https://github.com/aws4embeddedlinux/meta-aws/commit/194c1f90a460a1b0665a582c216b87978810fe1d

[2022-07-15 15:45] monishkapadia commented on #426
I did a rebuild with the master branch of meta-aws and I'm getting a new error. Trying to debug it out, I think somehow the aws-mqtt-c module did not link with the python during compilation, it definitely built all the C modules.

[code]

[2022-07-17 20:41] MartinLoeper commented on #411
I tested it on kirkstone and it seems to work well. Great job!!!! Thanks a lot!
I will report if I observe any issue.

[2022-07-17 20:41] #411 closed

[2022-07-18 14:32] rpcme commented on #159
I think that we can resolve this issue as wont-fix from a meta-aws perspective.

[2022-07-18 14:33] #159 closed

[2022-07-19 11:59] thomas-roos commented on #426
Could reproduce your error, found that my previous added patch has broken the correct linking of the python c binding. This should be fixed by https://github.com/aws4embeddedlinux/meta-aws/pull/443
Please confirm.

[2022-07-19 17:05] monishkapadia commented on #426
I'm back to the same error as before, Segmentation fault. I have my system read-only, is that the reason it is faulting up?

[2022-07-20 11:28] monishkapadia commented on #426
Got the fix for this, thanks to Thomas Roos, Noah Beard and the team.
To get this working, add `username` parameter to the function `mqtt_connection = mqtt_connection_builder.mtls_from_path` in command_line_utils.py

[code]

[2022-07-21 20:49] sbSteveK commented on #426
Alternately, you can try adding the argument '--enable_metrics_collection false' if you would like to not set a username at all. There is a fix in the works to prevent the need for either of these temporary fixes.

[2022-07-25 08:47] youngah opened #461 "set JAVA_HOME or export PATH"
hi

I had a big problem.
i am just starting for new project of greengrass iot
but my device has a very small memory then i want to install corretto to another partition.
the java path is changed.

i got a problem when i try to launch greengrass service....

the loadef file ( greengrass/v2/alts/current/distro/bin/loader)  just call java ( not check java path)

how about add "export PATH =$PATH:JAVA

[2022-07-25 09:07] thomas-roos commented on #461
Hi, will look into that. But just wanna mention that if you have small memory you should use corretto and greengrass from master branch, since it has a version which is not depending on x11. So your image size will be half!
This improved version is not yet included in realease branch kirkstone and dunfell.

[2022-07-27 16:46] paulacarrillo opened #473 "Avoiding AUTOREV"
https://github.com/aws4embeddedlinux/meta-aws/blob/dd742bafa5eff33ac930e97dde851f41cbde85e8/recipes-sdk/aws-iot-device-sdk-python-v1/aws-iot-device-sdk-python-v1.inc#L10

Hi, is it possible to get rid of SRCREV = "${AUTOREV}"? as this could be problematic and goes out of sync?. If not, what is the reason of use it?. We got some LIC_FILES_CHKSUM issues with a customer building our TI's PSDKLA. This

[2022-07-27 17:52] thomas-roos commented on #473
Hi,
you are absolutely right - we have removed this in [master](https://github.com/aws4embeddedlinux/meta-aws/blob/master/recipes-sdk/aws-iot-device-sdk-python-v1/aws-iot-device-sdk-python-v1_1.5.2.bb) and backporting those recipes to kirkstone and dunfell the next weeks. You are using dunfell release?

[2022-07-27 18:16] paulacarrillo commented on #473
Hi Thomas, thanks for your reply. Yes, we are using dunfell. Do you know the timeline? just want to see if this changed aligns with our next PSDK release =).

[2022-07-27 18:24] thomas-roos commented on #473
When will this be?

[2022-07-27 19:19] paulacarrillo commented on #473
Hi Thomas, code freeze is in about 1 week
thanks
Paula

[2022-07-28 12:38] thomas-roos commented on #473
Hi Paula,
we decided to speed up the backporting process for dunfell. Is there any other recipe you need? Or just all ;)
Best,
Thomas

[2022-07-28 13:55] paulacarrillo commented on #473
Just all =) to be sure. Appreciate your help.
Paula

[2022-08-03 07:00] thomas-roos commented on #473
Hi Paula,
dunfell is up-to-date - if there is anything you need, let us know.

Cheers,
Thomas

[2022-08-03 07:00] #473 closed

[2022-09-09 11:29] mangodan2003 opened #575 "aws-sdk-cpp do_configure fails"
[code]

[2022-09-09 11:39] thomas-roos commented on #575
Hi,
could you please provide more details about your setup - e.g. what branch are you using?

Cheers,
Thomas

[2022-09-09 11:47] mangodan2003 commented on #575
sorry yes, that was a bit vague.

branch is kirkstone current latest as of today, though currently not the very latest for poky and meta-openembedded due to a bug in the most recent release of gstreamer.
I have tried with a more recent (about a month ago) version of these two layers but the problem persists.

[2022-09-09 12:41] thomas-roos commented on #575
just tried with the exact same versions - just works.
Do you have something else added?
 - might you can disable other layers if there are some?
 - try to change MACHINE to qemux86-64  eg. run `MACHINE=qemux86-64 bitbake core-image-minimal`

[2022-09-09 13:07] thomas-roos commented on #575
Another things to do are:
- try to clean cache, sstate-cache
- provide us your BSP and MACHINE config

[2022-09-13 08:52] mangodan2003 commented on #575
Yes we have various other layers. knowing it should work I'll try clearing the caches to start with and if that doesn't help try a  minimal build without other layers to work out where the problem is coming from.
Thanks

[2022-09-13 11:56] mangodan2003 commented on #575
Sure enough removing some other layers has resolved the problem, I'll post back when Iv'e figure out which, but might be  while as not an immediate priority atm.

[2022-09-13 13:37] thomas-roos commented on #575
great to hear - please let us know when you have more details.

[2022-09-13 13:49] mangodan2003 commented on #575
heh, it appears that `meta-iot-cloud`  I was using for google services was the culprit, and that it also contains some aws recipes and maybe is leading to the problem.

[2022-09-13 14:26] #575 closed

[2022-09-13 14:58] mangodan2003 opened #585 "aws-sdk-cpp submodules"
I want to use the polly voice module, it's included with` aws-sdk-cpp` source but there seems to be no way to enable building it in the existing recipe. Is there a recommended way to  achieve this or should I just roll my own .bbappend?

[2022-09-14 09:09] thomas-roos commented on #585
hi, there are plans to make that easier for customers. By now I just modified the recipe to build it by default. Should be in master by monday - have a look: https://github.com/aws4embeddedlinux/meta-aws/pull/587
Let me know if that works for you.

[2022-09-14 10:40] mangodan2003 commented on #585
ok thanks, in the mean time I have got by with a bbappend file in one of our local layers which makes those changes.

[2022-09-14 14:30] thomas-roos commented on #585
Yes👍

[2022-09-14 14:30] #585 closed

[2022-11-07 17:07] jahanzaib1234 opened #1070 "No match for argument: python3-setuptools Error: Unable to find a match"
i get this error

repo: using cache for: oe-repo
not found other for:
not found modules for:
not found deltainfo for:
not found updateinfo for:
oe-repo: using metadata from Mon 07 Nov 2022 04:58:03 PM UTC.
Last metadata expiration check: 0:00:04 ago on Mon 07 Nov 2022 04:58:04 PM UTC.
No module defaults found
No match for argument: python3-setuptools
Error: Unable to find a match

and my python3-s

[2022-11-07 17:29] thomas-roos commented on #1070
Hi,
what is the branch you are working on?
What are you trying to build?

[2022-11-07 18:03] jahanzaib1234 commented on #1070
dunfell

[2022-11-07 18:05] jahanzaib1234 commented on #1070
i am trying to build image for raspberry pi4 and want to to auto boot device with PyQt5 application

[2022-11-07 18:07] jahanzaib1234 commented on #1070
for PyQt5 application i need screeninfo and some other modules available in below list

 /home/smart/Desktop/smart_glass/poky/smartGlass/sources/meta-screeninfo \
  /home/smart/Desktop/smart_glass/poky/smartGlass/sources/meta-apscheduler \
  /home/smart/Desktop/smart_glass/poky/smartGlass/sources/meta-tzlocal \
  /home/smart/Desktop/smart_glass/poky/smartGlass/sources/meta-pytz \
  /home/smart/Des

[2022-11-07 18:13] jahanzaib1234 commented on #1070
when i try
IMAGE_INSTALL_append = " python3-screeninfo"

i get this error

No match for argument: python3-screeninfo
Error: Unable to find a match

After some research i get this point to remove this error i add  "inherit setuptools"  and i get this error

Could not inherit file classes/setuptools.bbclass

to remove this error i try to install steptools but get same error for steptools

[2022-11-07 18:18] jahanzaib1234 commented on #1070
@thomas-roos  and my local.conf file looks like this

#
# This file is your local configuration file and is where all local user settings
# are placed. The comments in this file give some guide to the options a new user
# to the system might want to change but pretty much any configuration option can
# be set in this file. More adventurous users can look at local.conf.extended
# which contains oth

[2022-11-07 19:15] thomas-roos commented on #1070
please share your bblayers.conf and your bitbake command

[2022-11-08 02:27] jahanzaib1234 commented on #1070
@thomas-roos

bitbake command :

source ./oe-init-build-env smartGlass/build

bitbake qt5-image

 My   bblayers.conf  file

# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ${TOPDIR}/../../meta \
  ${TOPDIR}/../../meta-poky \
  ${TOPDIR}/../../meta-yocto-bsp \

[2022-11-08 03:29] jahanzaib1234 commented on #1070
and setuptools.bbclass looks like this :

inherit distutils

DEPENDS += "python-setuptools-native"

[2022-11-08 04:26] jahanzaib1234 commented on #1070
When i remove " inherit setuptools " from " python3-screeninfo_0.8.1.bb " then i get this error

ERROR: qt5-image-1.0-r0 do_rootfs: No manifest generated from: python3-setuptools

[2022-11-08 04:29] jahanzaib1234 commented on #1070
and also remove from local.conf

[2022-11-08 06:21] jahanzaib1234 commented on #1070
i am not using meta-aws

[2022-11-08 06:27] jahanzaib1234 commented on #1070
ERROR: ParseError at /home/smart/Desktop/smart_glass/poky/smartGlass/sources/meta-screeninfo/recipes-devtools/python/python3-screeninfo_0.8.1.bb:16: Could not inherit file classes/setuptools.bbclass

[2022-11-08 06:27] jahanzaib1234 commented on #1070
this is the main error that we need to handle

[2022-11-08 06:28] jahanzaib1234 commented on #1070
how can i inherit      "inherit file classes/setuptools.bbclass"

[2022-11-08 07:06] thomas-roos commented on #1070
Hi, sorry to say this, but this is all about meta-aws. May ask your questions here: https://www.yoctoproject.org/community/mailing-lists/ or if the problem is Raspberry Pi related here: https://github.com/agherzan/meta-raspberrypi
Btw. setuptools does not exsist in dunfell use setuptools3 -> https://git.yoctoproject.org/poky/tree/meta/classes/setuptools3.bbclass?h=dunfell
good luck!

[2022-11-08 07:06] #1070 closed

[2022-11-08 07:18] jahanzaib1234 commented on #1070
@thomas-roos thanks for you help i get the point i need to use setuptools3

[2022-11-08 14:40] MartinLoeper opened #1089 "Best Practice Question: IPC using external component e.g. captive portal system service"
Hi, I have a question regarding IPC on our Greengrass v2 device which is built using yocto.

We have a captive portal for initial device configuration (networking, provision by trusted user flow, etc.).
The captive portal is not deployed as a greengrass component.

The [greengrass v2 documentation regarding IPC](https://docs.aws.amazon.com/greengrass/v2/developerguide/interprocess-communication.ht

[2022-11-08 17:25] nenadilic84 commented on #1089
Yes, that would definitely be possible.
To do this you would need to append files to the original greengrass recipe that adds the `greengrass-cli` component.

On which files you would need to add and their location I suggest you take a look at the installation after using the easy setup on, for example on ubuntu:

[code]

Where you have the `  --deploy-dev-tools true` flag set.

This will provide

[2022-11-08 18:04] #1089 closed, assigned to nenadilic84